/* Font Face Rules 

01 - Stratos (© Production Type)
     1.1 : Stratos Regular
     1.2 : Stratos Italic
02 - Stratus (© Fabrique des Récits)

*/

/*
     Stratos web license : 
	Copyright (C) Production Type
	This software is the property of Production Type.
	Your right to access and use this software is subject to the
	applicable License Agreement, or Terms of Service, that exists
	between you and Production Type. If no such agreement exists,
	you may not access or use this software for any purpose.
	This software may only be hosted at the locations specified in
	the applicable License Agreement or Terms of Service, and only
	for the purposes expressly set forth therein. You may not copy,
	modify, convert, create derivative works from or distribute this
	software in any way, or make it accessible to any third party,
	without first obtaining the written permission of Production Type.
	For more information, please visit us at www.productiontype.com
*/

// 1 - Stratos : Title Font
// 1.1 : Stratos Regular
@font-face {
     font-family: "Stratos";
     font-style: normal;
     font-weight: 700;
     font-display: swap;
     src: url("./font/stratosweb-medium.eot");
     src: url("./font/stratosweb-medium.eot?#iefix") format("embedded-opentype"),
          url("./font/stratosweb-medium.woff") format("woff");
}

// 1.2 : Stratos Italic
@font-face {
     font-family: "Stratos";
     font-style: italic;
     font-weight: 700;
     font-display: swap;
     src: url("./font/stratosweb-mediumitalic.eot");
     src: url("./font/stratosweb-mediumitalic.eot?#iefix") format("embedded-opentype"),
          url("./font/stratosweb-mediumitalic.woff") format("woff");
}

// 2 - Stratus : Icon font (design made for Stratos font)
@font-face {
     font-family: "Stratus";
     font-style: normal;
     font-weight: 700;
     font-display: swap;
     src: url("./font/stratus.otf") format("opentype");
}
