/*

File Summary : 

01 - Accessibility
02 - Font-setting
03 - Responsive class
04 - Color class
05 - Background class
06 - Reset classes
07 - Reset Image
*/

// 01 - Accessibility
// Accessiblity for main navigation

* {
    &:focus-visible {
        outline: none;
    }
}

.skip-link {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    padding: 0;
    //overflow: hidden;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
.skip-link:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 0.5em;
    top: 0.5em;
    line-height: normal;
    padding: 1em 1.5em 1em;
    text-decoration: none;
    width: unset;
    z-index: $index-accessibility; /* Above WP toolbar. */
}

// Text for Screen Reader only
.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

// 02 - Font-setting
// Default text setting

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    @include font-weight(regular);
    @include font-size(text);
    color: $default-text-color;
    background: $brand-black;
    box-sizing: border-box;
    line-height: $lh-standard;
    font-family: $font-text;
}

.body-like {
    @include font-weight(regular);
    @include font-size(text);
    font-style: normal;
    display: block;
}

h1,
.h1-like {
    @include font(h1, bold);
}
h2,
.h2-like {
    @include font(h2, bold);
}
h3,
.h3-like {
    @include font(h3, bold);
}
h4,
.h4-like {
    @include font(h4, bold);
}
h5,
.h5-like {
    @include font(h5, bold);
}
h6,
.h6-like {
    @include font(h6, bold);
}
b,
strong,
.bold {
    @include font-weight(bold);
}

h1,
.h1-like,
h2,
.h2-like,
h3,
.h3-like,
h4,
.h4-like,
h5,
.h5-like,
h6,
.h6-like {
    font-style: normal;
    font-family: $font-title;
    font-weight: 700;
    padding: 0;
    line-height: 1.2;
}

.padding-b {
    margin-bottom: 0;
    padding-bottom: 2rem;
}

.title-font {
    font-family: $font-title;
}

.icon-font {
    font-family: $font-icon;
}

.lettrine {
    display: inline-block;
    margin-right: 0.5em;
    //margin-bottom: 0.25em;
    vertical-align: middle;
}

// .blk-arrow
.giant-title {
    line-height: 1.05;
    font-size: map-get($fonts, h1);
    @media screen and (min-width: $tablet_width) {
        font-size: pixel(60);
        @media screen and (min-width: $desktop_width) {
            font-size: pixel(95);
        }
    }
}

.giant-icon {
    font-size: pixel(280);
    @media screen and (min-width: $mobile_width) {
        font-size: pixel(360);
    }
    line-height: 1;
}

p {
    font-size: inherit;
    margin: 0 0 1rem 0;
}

@mixin small-text {
    font-size: pixel(12);
}
.small-text {
    @include small-text;
}

//03 - Responsive class
// Display elements according to screen size

// Size 1 : $tiny_width
.tiny-hidden {
    @media screen and (max-width: $tiny_width) {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
// Sizes 1 + 2 : $tiny_width + $mobile_width
.mobile-hidden {
    @media screen and (max-width: $mobile_width) {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
// Size 2 : $mobile_width
.mobile-xl-hidden {
    @media screen and (min-width: $tiny_width) and (max-width: $mobile_width) {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
// Size 3 : $tablet_width
.tablet-hidden {
    @media screen and (min-width: $mobile_width) and (max-width: $tablet_width) {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
// Size 4 : $desktop_width
.desktop-hidden {
    @media screen and (min-width: $tablet_width) and (max-width: $desktop_width) {
        display: none;
        visibility: hidden;
    }
}
// Size 5 : above $desktop_width
.huge-hidden {
    @media screen and (min-width: $desktop_width) {
        display: none;
        visibility: hidden;
    }
}

// Color class
.white {
    color: $white;
}
.gray-light {
    color: $gray-light;
}
.gray-medium {
    color: $gray-medium;
}
.gray-dark {
    color: $gray-dark;
}
.black {
    color: $black;
}
.brand-orange {
    color: $brand-orange;
}
.brand-black {
    color: $brand-black;
}
.brand-violet {
    color: $brand-violet;
}
.brand-pink {
    color: $brand-pink;
}
// .brand-yellow {  color: $brand-yellow;}
.brand-blue {
    color: $brand-blue;
}
.brand-green {
    color: $brand-green;
}

.white-bg {
    background-color: $white;
}
.gray-light-bg {
    background-color: $gray-light;
}
.gray-medium-bg {
    background-color: $gray-medium;
}
.gray-dark-bg {
    background-color: $gray-dark;
}
.black-bg {
    background-color: $black;
}
.brand-orange-bg {
    background-color: $brand-orange;
}
.brand-black-bg {
    background-color: $brand-black;
}
.brand-violet-bg {
    background-color: $brand-violet;
}
// .brand-pink-bg {     background-color : $brand-pink;}
.brand-yellow-bg {
    background-color: $brand-yellow;
    .listing-archive{
        .article{
            &:nth-child(5n+5) {
                &:hover,
                &:focus,
                &:focus-within {
                    background-color: $brand-orange;
                }
            }
        }
    }
}
.brand-blue-bg {
    background-color: $brand-blue;
}
.brand-green-bg {
    background-color: $brand-green;
    .listing-archive{
        .article{
            &:nth-child(3n+3) {
                &:hover,
                &:focus,
                &:focus-within {
                    background-color: $brand-yellow;
                }
            }
        }
    }
}

// Text-align class
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.underline {
    text-decoration: underline;
}

//06 - Reset Classes
button.reset-style {
    -webkit-backface-visibility: hidden;
    background: transparent;
    border: solid 1px transparent;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    outline-offset: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.brd-btm-dot,
.brd-top-dot {
    color: inherit;
    position: relative;
}

.brd-top-dot {
    padding-top: 1.5em;
    &::before {
        color: inherit;
        position: absolute;
        left: 0;
        top: -1.5em;
        content: "········";
    }
}

.brd-btm-dot {
    padding-bottom: 1.5em;
    &::after {
        color: inherit;
        position: absolute;
        left: 0;
        bottom: -1.5em;
        content: "········";
    }
}
/*
.brd-btm-dash {
    border-bottom: 2px dashed currentColor;
}
.brd-top-dash {
    border-top: 2px dashed currentColor;
}
*/

// 07 - Image Style

.image-container {
    width: 100%;
    max-width: 100%;
    * {
        width: 100%;
        height: auto;
    }
}

.img-white-and-black {
    picture,
    img {
        // Toutes les images sont en noir et blanc
        filter: saturate(0);
    }
    .no-filter {
        picture,
        img {
            // Toutes les images sont en noir et blanc
            filter: none;
        }
    }
}
/*
picture,
img {
    // Toutes les images sont en noir et blanc
    filter: saturate(0);
}
.single picture,
.single img {
    filter: none;
}
*/

// 08 - Text container

.responsive-text-container {
    @media screen and (max-width: $tablet_width) {
        > * {
            margin-top: 2rem;
        }
        > *:first-child {
            margin-top: 0;
        }
    }
    @media screen and (min-width: $tablet_width) {
        display: grid;
        grid-column-gap: $column-gap;
        grid-template-columns: 1fr 1fr;
        justify-items: start;
        align-items: start;
    }
}
