/*

Custom Mixins

File structure :
------------------
1 - Responsive spacing
  1.1 - spacing()
  1.2 - gutter()
  1.3 - Pixel -> Rem
------------------
2 - Font settings
  2.1 - Font()
  2.2 font-weight()
  2.3 - font-size()
------------------
3 - Link
  3.1 - Link default
  3.2 - Link underline
  3.3 - Button
------------------
4 - Icon

*/


/* 1 - Responsive spacing
--------------------------*/
// 1.1 - spacing()
// Generate responsive margin and responsive padding automatically
// Source : https://sass-lang.com/documentation/at-rules/control/if#else-if
@mixin spacing($property, $layout-map) {
  @each $layout-breakpoint, $layout-space in $layout-map {
    @if $layout-breakpoint == null {
      #{$property} : $layout-space;
    }
    @else {
      @media screen and (min-width: $layout-breakpoint) {
        #{$property} : $layout-space;
      }
    }
  }
}

// 1.2 - gutter()
// Generate a responsive grid-gap rule
@mixin gutter{
  @include spacing(grid-column-gap, $grid-column-gap);
  @include spacing(grid-row-gap, $grid-row-gap);
}

/* 1.3 - Pixel -> Rem
 * Function to convert px value into rem
 * Source : https://www.choosepizzi.net/sass-mixin-for-convert-px-to-rem/
 * The default font size for html is 16px
 */
$base-size: 16;
@function pixel($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}


/* 2 - Font settings
--------------------------*/

// 2.1 - Font()
// is used : @include font(standard)

@mixin font( $f-size: default, $weight: base ) {

  @if $weight != base {
        @include font-weight($weight);
    } @else {}
  @if $f-size != null {
        @include font-size($f-size);
    } @else {}
}
// 2.2 font-weight()
@mixin font-weight($weight) {
  font-weight: map-get($fonts, $weight);
  font-variation-settings: 'wght' map-get($fonts,  $weight);
}

// 2.3 - font-size()
@mixin font-size($f-size) {
  font-size: map-get($fonts, $f-size);
  @media screen and (min-width: $desktop_width) {
    font-size: map-get($fonts, #{$f-size}-desktop);
  }
}

/* 4 - Icon
--------------------------*/
// 4.1 - Arrow-icons

/* Icon in background for interface element
@mixin icon($name) {

  @if $name = "arrow-down-white" {
    background-image: url("./image/angle-down-white.svg");
  }

  @if $name = "arrow-down" {
    background-image: url("./image/angle-down.svg");
  }

  padding-right: 1em;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 0.5em;
}
*/

/*
@mixin icon($icon, $position : "left") {

  @if $icon == "arrow-left"  {
    background-image: url("./image/arrow-left.svg");
  }

  @if $icon == "arrow-right" {
    background-image: url("./image/arrow-right.svg");
  }

  @if $icon = "arrow-down" {
    background-image: url("./image/angle-down.svg");
  }

  @if $icon = "arrow-down-white" {
    background-image: url("./image/angle-down-white.svg");
  }

  @if $position = "left" {
    // position = left
    padding-left: 1em;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 0.5em;
  } @else {
    // Position = right
    padding-right: 1em;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 0.5em;
  }

}
*/

/*
@mixin icon($icon, $position : "left") {

  @if $icon == "arrow-left"  {
    background-image: url("./image/arrow-left.svg");
  }

  @if $icon == "arrow-right" {
    background-image: url("./image/arrow-right.svg");
  }

  @if $icon == "arrow-down" {
    background-image: url("./image/arrow-down.svg");
  }

  @if $icon == "arrow-down-white" {
    background-image: url("./image/arrow-down-white.svg");
  }

  @if $position == "left" {
    // position = left
    padding-left: 1em;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 0.5em;
  } @else {
    // Position != left
    padding-right: 1em;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 0.5em;
  }

}
*/


// 4.2 - No useless margin
@mixin no-useless-margin {
  > * {
    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

.no-useless-margin {
  @include no-useless-margin;
}