//colors
$white :            #fff;
$gray-light :       #F3F5F7;
$gray-medium  :     rgb(128, 128, 128);
$gray-dark :        #5E6871;
$black :            #000;
$color-primary :    #1C72F2;
$color-secondary :  #F2994A;
$green :            #50D55D; // Used in form
$red :              #F91D5F; // Used in form
$brand-black :      #080636;
$brand-violet :     #8200DC;
$brand-pink :         #c814b4;
$brand-yellow :       #FFBD00;
$brand-blue :         #0055ff;
$brand-orange :       #FF5018;
$brand-green :        #00c83c;

$default-text-color : $white;

$font-text :  Verdana, Tahoma, 'Arial', sans-serif;
$font-title : 'Stratos', Tahoma, 'Arial', sans-serif;
$font-icon : 'Stratus', 'Stratos', Tahoma, 'Arial', sans-serif;

// Breakpoints
$tiny_width: pixel(400);
$mobile_width: pixel(680);
$tablet_width: pixel(830);
$desktop_width: pixel(1000);
$huge_width: pixel(1400);


/* Universal grid-gap
$grid-row-gap: (
  $tiny_width: 1.5rem,
  $mobile_width: 1.75rem,
  $tablet_width: 2rem,
  $desktop_width: 2.5rem,
);

$grid-column-gap: (
  $tiny_width: 2rem,
  $mobile_width: 2.25rem,
  $tablet_width: 2.5rem,
  $desktop_width: 3rem,
);
*/

// Text line-height
$lh-small     : 1.2;
$lh-standard  : 1.5;
$lh-big       : 2;

//z-index
$index-accessibility  : 1000;
$index-modal          : 400;
$index-navigation     : 300;
$index-dropdown       : 200;
$index-overlay        : 100;

$fonts: (
    // A - Font weight
    regular: 400,
    bold: 700,
    // B - Font size
    h1: pixel(30),
    h1-desktop: pixel(45),
    h2: pixel(25),
    h2-desktop: pixel(30),
    h3: pixel(20),
    h3-desktop: pixel(25),
    h4: pixel(18),
    h4-desktop: pixel(20),
    h5: pixel(18),
    h5-desktop: pixel(18),
    h6: pixel(16),
    h6-desktop: pixel(16),
    text: 1rem,
    text-desktop: 1rem,
    lead: pixel(25),
    lead-desktop: pixel(35),
);

// Responsive spacing
$wrapper-padding: (
  null: 1rem,
  $tiny_width: 1rem,
  $mobile_width: 1rem,
  $tablet_width: 1.25rem,
  $desktop_width: 1.5rem,
);

$narrow-wrapper-padding: (
  null: 1rem,
  $tiny_width: 1rem,
  $mobile_width: 2.5rem,
  $tablet_width: 5rem,
  $desktop_width: 8.5rem,
);

$vertical-padding-regular: (
  null: 2rem,
  $tiny_width: 2rem,
  $mobile_width: 3rem,
  $tablet_width: 4rem,
  $desktop_width: 5rem,
);

$vertical-padding-small: (
  null: 1rem,
  $tiny_width: 1rem,
  $mobile_width: 1.25rem,
  $tablet_width: 2.5rem,
  $desktop_width: 3rem,
);

// Column layout
$column-gap : 2rem;