@charset "UTF-8";
/*
Theme Name: La Fabrique des Récits par Sparknews
Theme URI: https://ihaveagreen.fr
Author: I Have a Green
Author URI: https://ihaveagreen.fr
Description: Thème du site web de la Fabrique des Récits
Version: 1.0
*/
/* Normalize */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*

Custom Mixins

File structure :
------------------
1 - Responsive spacing
  1.1 - spacing()
  1.2 - gutter()
  1.3 - Pixel -> Rem
------------------
2 - Font settings
  2.1 - Font()
  2.2 font-weight()
  2.3 - font-size()
------------------
3 - Link
  3.1 - Link default
  3.2 - Link underline
  3.3 - Button
------------------
4 - Icon

*/
/* 1 - Responsive spacing
--------------------------*/
/* 1.3 - Pixel -> Rem
 * Function to convert px value into rem
 * Source : https://www.choosepizzi.net/sass-mixin-for-convert-px-to-rem/
 * The default font size for html is 16px
 */
/* 2 - Font settings
--------------------------*/
/* 4 - Icon
--------------------------*/
/* Icon in background for interface element
@mixin icon($name) {

  @if $name = "arrow-down-white" {
    background-image: url("./image/angle-down-white.svg");
  }

  @if $name = "arrow-down" {
    background-image: url("./image/angle-down.svg");
  }

  padding-right: 1em;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 0.5em;
}
*/
/*
@mixin icon($icon, $position : "left") {

  @if $icon == "arrow-left"  {
    background-image: url("./image/arrow-left.svg");
  }

  @if $icon == "arrow-right" {
    background-image: url("./image/arrow-right.svg");
  }

  @if $icon = "arrow-down" {
    background-image: url("./image/angle-down.svg");
  }

  @if $icon = "arrow-down-white" {
    background-image: url("./image/angle-down-white.svg");
  }

  @if $position = "left" {
    // position = left
    padding-left: 1em;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 0.5em;
  } @else {
    // Position = right
    padding-right: 1em;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 0.5em;
  }

}
*/
/*
@mixin icon($icon, $position : "left") {

  @if $icon == "arrow-left"  {
    background-image: url("./image/arrow-left.svg");
  }

  @if $icon == "arrow-right" {
    background-image: url("./image/arrow-right.svg");
  }

  @if $icon == "arrow-down" {
    background-image: url("./image/arrow-down.svg");
  }

  @if $icon == "arrow-down-white" {
    background-image: url("./image/arrow-down-white.svg");
  }

  @if $position == "left" {
    // position = left
    padding-left: 1em;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 0.5em;
  } @else {
    // Position != left
    padding-right: 1em;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 0.5em;
  }

}
*/
.no-useless-margin > *:last-child {
  margin-bottom: 0;
}

.no-useless-margin > *:first-child {
  margin-top: 0;
}

/* Universal grid-gap
$grid-row-gap: (
  $tiny_width: 1.5rem,
  $mobile_width: 1.75rem,
  $tablet_width: 2rem,
  $desktop_width: 2.5rem,
);

$grid-column-gap: (
  $tiny_width: 2rem,
  $mobile_width: 2.25rem,
  $tablet_width: 2.5rem,
  $desktop_width: 3rem,
);
*/
/* Font Face Rules 

01 - Stratos (© Production Type)
     1.1 : Stratos Regular
     1.2 : Stratos Italic
02 - Stratus (© Fabrique des Récits)

*/
/*
     Stratos web license : 
	Copyright (C) Production Type
	This software is the property of Production Type.
	Your right to access and use this software is subject to the
	applicable License Agreement, or Terms of Service, that exists
	between you and Production Type. If no such agreement exists,
	you may not access or use this software for any purpose.
	This software may only be hosted at the locations specified in
	the applicable License Agreement or Terms of Service, and only
	for the purposes expressly set forth therein. You may not copy,
	modify, convert, create derivative works from or distribute this
	software in any way, or make it accessible to any third party,
	without first obtaining the written permission of Production Type.
	For more information, please visit us at www.productiontype.com
*/
@font-face {
  font-family: "Stratos";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./font/stratosweb-medium.eot");
  src: url("./font/stratosweb-medium.eot?#iefix") format("embedded-opentype"), url("./font/stratosweb-medium.woff") format("woff");
}

@font-face {
  font-family: "Stratos";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("./font/stratosweb-mediumitalic.eot");
  src: url("./font/stratosweb-mediumitalic.eot?#iefix") format("embedded-opentype"), url("./font/stratosweb-mediumitalic.woff") format("woff");
}

@font-face {
  font-family: "Stratus";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./font/stratus.otf") format("opentype");
}

/*

File Summary : 

01 - Accessibility
02 - Font-setting
03 - Responsive class
04 - Color class
05 - Background class
06 - Reset classes
07 - Reset Image
*/
*:focus-visible {
  outline: none;
}

.skip-link {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.skip-link:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 0.5em;
  top: 0.5em;
  line-height: normal;
  padding: 1em 1.5em 1em;
  text-decoration: none;
  width: unset;
  z-index: 1000;
  /* Above WP toolbar. */
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  font-weight: 400;
  font-variation-settings: "wght" 400;
  font-size: 1rem;
  color: #fff;
  background: #080636;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Verdana, Tahoma, "Arial", sans-serif;
}

@media screen and (min-width: 62.5rem) {
  body {
    font-size: 1rem;
  }
}

.body-like {
  font-weight: 400;
  font-variation-settings: "wght" 400;
  font-size: 1rem;
  font-style: normal;
  display: block;
}

@media screen and (min-width: 62.5rem) {
  .body-like {
    font-size: 1rem;
  }
}

h1,
.h1-like {
  font-weight: 700;
  font-variation-settings: "wght" 700;
  font-size: 1.875rem;
}

@media screen and (min-width: 62.5rem) {
  h1,
  .h1-like {
    font-size: 2.8125rem;
  }
}

h2,
.h2-like {
  font-weight: 700;
  font-variation-settings: "wght" 700;
  font-size: 1.5625rem;
}

@media screen and (min-width: 62.5rem) {
  h2,
  .h2-like {
    font-size: 1.875rem;
  }
}

h3,
.h3-like {
  font-weight: 700;
  font-variation-settings: "wght" 700;
  font-size: 1.25rem;
}

@media screen and (min-width: 62.5rem) {
  h3,
  .h3-like {
    font-size: 1.5625rem;
  }
}

h4,
.h4-like {
  font-weight: 700;
  font-variation-settings: "wght" 700;
  font-size: 1.125rem;
}

@media screen and (min-width: 62.5rem) {
  h4,
  .h4-like {
    font-size: 1.25rem;
  }
}

h5,
.h5-like {
  font-weight: 700;
  font-variation-settings: "wght" 700;
  font-size: 1.125rem;
}

@media screen and (min-width: 62.5rem) {
  h5,
  .h5-like {
    font-size: 1.125rem;
  }
}

h6,
.h6-like {
  font-weight: 700;
  font-variation-settings: "wght" 700;
  font-size: 1rem;
}

@media screen and (min-width: 62.5rem) {
  h6,
  .h6-like {
    font-size: 1rem;
  }
}

b,
strong,
.bold {
  font-weight: 700;
  font-variation-settings: "wght" 700;
}

h1,
.h1-like,
h2,
.h2-like,
h3,
.h3-like,
h4,
.h4-like,
h5,
.h5-like,
h6,
.h6-like {
  font-style: normal;
  font-family: "Stratos", Tahoma, "Arial", sans-serif;
  font-weight: 700;
  padding: 0;
  line-height: 1.2;
}

.padding-b {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.title-font {
  font-family: "Stratos", Tahoma, "Arial", sans-serif;
}

.icon-font {
  font-family: "Stratus", "Stratos", Tahoma, "Arial", sans-serif;
}

.lettrine {
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: middle;
}

.giant-title {
  line-height: 1.05;
  font-size: 1.875rem;
}

@media screen and (min-width: 51.875rem) {
  .giant-title {
    font-size: 3.75rem;
  }
}

@media screen and (min-width: 51.875rem) and (min-width: 62.5rem) {
  .giant-title {
    font-size: 5.9375rem;
  }
}

.giant-icon {
  font-size: 17.5rem;
  line-height: 1;
}

@media screen and (min-width: 42.5rem) {
  .giant-icon {
    font-size: 22.5rem;
  }
}

p {
  font-size: inherit;
  margin: 0 0 1rem 0;
}

.small-text {
  font-size: 0.75rem;
}

@media screen and (max-width: 25rem) {
  .tiny-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media screen and (max-width: 42.5rem) {
  .mobile-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media screen and (min-width: 25rem) and (max-width: 42.5rem) {
  .mobile-xl-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media screen and (min-width: 42.5rem) and (max-width: 51.875rem) {
  .tablet-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media screen and (min-width: 51.875rem) and (max-width: 62.5rem) {
  .desktop-hidden {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 62.5rem) {
  .huge-hidden {
    display: none;
    visibility: hidden;
  }
}

.white {
  color: #fff;
}

.gray-light {
  color: #F3F5F7;
}

.gray-medium {
  color: gray;
}

.gray-dark {
  color: #5E6871;
}

.black {
  color: #000;
}

.brand-orange {
  color: #FF5018;
}

.brand-black {
  color: #080636;
}

.brand-violet {
  color: #8200DC;
}

.brand-pink {
  color: #c814b4;
}

.brand-blue {
  color: #0055ff;
}

.brand-green {
  color: #00c83c;
}

.white-bg {
  background-color: #fff;
}

.gray-light-bg {
  background-color: #F3F5F7;
}

.gray-medium-bg {
  background-color: gray;
}

.gray-dark-bg {
  background-color: #5E6871;
}

.black-bg {
  background-color: #000;
}

.brand-orange-bg {
  background-color: #FF5018;
}

.brand-black-bg {
  background-color: #080636;
}

.brand-violet-bg {
  background-color: #8200DC;
}

.brand-yellow-bg {
  background-color: #FFBD00;
}

.brand-yellow-bg .listing-archive .article:nth-child(5n+5):hover, .brand-yellow-bg .listing-archive .article:nth-child(5n+5):focus, .brand-yellow-bg .listing-archive .article:nth-child(5n+5)[focus-within] {
  background-color: #FF5018;
}

.brand-yellow-bg .listing-archive .article:nth-child(5n+5):hover, .brand-yellow-bg .listing-archive .article:nth-child(5n+5):focus, .brand-yellow-bg .listing-archive .article:nth-child(5n+5):focus-within {
  background-color: #FF5018;
}

.brand-blue-bg {
  background-color: #0055ff;
}

.brand-green-bg {
  background-color: #00c83c;
}

.brand-green-bg .listing-archive .article:nth-child(3n+3):hover, .brand-green-bg .listing-archive .article:nth-child(3n+3):focus, .brand-green-bg .listing-archive .article:nth-child(3n+3)[focus-within] {
  background-color: #FFBD00;
}

.brand-green-bg .listing-archive .article:nth-child(3n+3):hover, .brand-green-bg .listing-archive .article:nth-child(3n+3):focus, .brand-green-bg .listing-archive .article:nth-child(3n+3):focus-within {
  background-color: #FFBD00;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

button.reset-style {
  -webkit-backface-visibility: hidden;
  background: transparent;
  border: solid 1px transparent;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  outline-offset: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.brd-btm-dot,
.brd-top-dot {
  color: inherit;
  position: relative;
}

.brd-top-dot {
  padding-top: 1.5em;
}

.brd-top-dot::before {
  color: inherit;
  position: absolute;
  left: 0;
  top: -1.5em;
  content: "········";
}

.brd-btm-dot {
  padding-bottom: 1.5em;
}

.brd-btm-dot::after {
  color: inherit;
  position: absolute;
  left: 0;
  bottom: -1.5em;
  content: "········";
}

/*
.brd-btm-dash {
    border-bottom: 2px dashed currentColor;
}
.brd-top-dash {
    border-top: 2px dashed currentColor;
}
*/
.image-container {
  width: 100%;
  max-width: 100%;
}

.image-container * {
  width: 100%;
  height: auto;
}

.img-white-and-black picture,
.img-white-and-black img {
  filter: saturate(0);
}

.img-white-and-black .no-filter picture,
.img-white-and-black .no-filter img {
  filter: none;
}

/*
picture,
img {
    // Toutes les images sont en noir et blanc
    filter: saturate(0);
}
.single picture,
.single img {
    filter: none;
}
*/
@media screen and (max-width: 51.875rem) {
  .responsive-text-container > * {
    margin-top: 2rem;
  }
  .responsive-text-container > *:first-child {
    margin-top: 0;
  }
}

@media screen and (min-width: 51.875rem) {
  .responsive-text-container {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: start;
  }
}

@media print {
  header#masthead {
    display: none;
  }
  .screen-reader-text {
    display: none;
  }
  footer#footer {
    display: none;
  }
}

/*

Style content [#content]

File structure :
------------------
1 - Wrapper settings
  1.1 : Wrapper
  1.2 : Narrow-wrapper
------------------
2 - Vertical Rythm (padding) 
  2.1 : Vertical Padding Regular
  2.2 : Vertical Padding Small
------------------
3 - Link style
  3.1 - Link-default
  3.2 - Link Primary
  3.3 - Button primary
  3.4 - Button ghost
  3.5 - Button cta
  3.6 - Social Icons
------------------
4 - Entry Content
  4.1 - Entry-content global
  4.2 - No useless margin
  4.3 - Entry-content blockquote
  4.4 - Entry-content : List style (ul + ol) 
  4.5 - Entry-content : List variant (ol only)
-------------------
5 - Video Container
  5.1 - Video thumbnail size
  5.2 - Video icon
  5.3 - Interactivity

*/
/* 1 - Wrapper settings
------------------ */
.wrapper,
.narrow-wrapper {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

.wrapper > img,
.wrapper > picture,
.narrow-wrapper > img,
.narrow-wrapper > picture {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 25rem) {
  .wrapper {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .wrapper {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 51.875rem) {
  .wrapper {
    padding-left: 1.25rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .wrapper {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 25rem) {
  .wrapper {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .wrapper {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 51.875rem) {
  .wrapper {
    padding-right: 1.25rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .wrapper {
    padding-right: 1.5rem;
  }
}

.narrow-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 25rem) {
  .narrow-wrapper {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .narrow-wrapper {
    padding-left: 2.5rem;
  }
}

@media screen and (min-width: 51.875rem) {
  .narrow-wrapper {
    padding-left: 5rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .narrow-wrapper {
    padding-left: 8.5rem;
  }
}

@media screen and (min-width: 25rem) {
  .narrow-wrapper {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .narrow-wrapper {
    padding-right: 2.5rem;
  }
}

@media screen and (min-width: 51.875rem) {
  .narrow-wrapper {
    padding-right: 5rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .narrow-wrapper {
    padding-right: 8.5rem;
  }
}

/* 2 - Vertical Rythm 
------------------ */
.v-padding-regular {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 25rem) {
  .v-padding-regular {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .v-padding-regular {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 51.875rem) {
  .v-padding-regular {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .v-padding-regular {
    padding-top: 5rem;
  }
}

@media screen and (min-width: 25rem) {
  .v-padding-regular {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .v-padding-regular {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 51.875rem) {
  .v-padding-regular {
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .v-padding-regular {
    padding-bottom: 5rem;
  }
}

.v-padding-small {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 25rem) {
  .v-padding-small {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .v-padding-small {
    padding-top: 1.25rem;
  }
}

@media screen and (min-width: 51.875rem) {
  .v-padding-small {
    padding-top: 2.5rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .v-padding-small {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 25rem) {
  .v-padding-small {
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .v-padding-small {
    padding-bottom: 1.25rem;
  }
}

@media screen and (min-width: 51.875rem) {
  .v-padding-small {
    padding-bottom: 2.5rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .v-padding-small {
    padding-bottom: 3rem;
  }
}

/* 3 - Link
------------------ */
.link-default {
  transition: .2s all;
  color: inherit;
}

.link-default:link, .link-default:visited {
  color: inherit;
  background-color: transparent;
}

.link-default:hover, .link-default:focus, .link-default[focus-within] {
  color: #0055ff;
}

.link-default:hover, .link-default:focus, .link-default:focus-within {
  color: #0055ff;
}

.link-default:active {
  color: #FF5018;
}

/*
@mixin link-primary {
  transition: .2s color;
  color: $color-primary;
  &:link,
  &:visited {
    color: $color-primary;
  }
  &:hover,
  &:focus,
  &:focus-within {
    color: darken($color-primary, 20);
  }
  &:active {
    color: $color-secondary;
  }
}
  a.link-primary {
    @include link-primary;
  }
*/
.button,
.button-dot {
  color: inherit;
  font-family: "Stratos", Tahoma, "Arial", sans-serif;
  text-align: center;
  text-decoration: none;
  border: 1px solid currentColor;
  background-color: transparent;
  display: inline-block;
  border-radius: 1.5em;
  padding: 0.5em 1em;
  min-width: 4em;
  transition: all .2s;
  cursor: pointer;
}

.button:link, .button:visited,
.button-dot:link,
.button-dot:visited {
  color: inherit;
  background-color: transparent;
}

.button:hover, .button:focus,
.button-dot:hover,
.button-dot:focus {
  color: #0055ff;
}

.button:active,
.button-dot:active {
  color: #FF5018;
}

.button.button-color-bg:hover, .button.button-color-bg:focus,
.button-dot.button-color-bg:hover,
.button-dot.button-color-bg:focus {
  color: #080636;
}

.button.button-color-bg:active,
.button-dot.button-color-bg:active {
  color: #fff;
}

.button-dot {
  border: 5px dotted currentColor;
  padding: 0.3em 1em;
  font-weight: 700;
  font-variation-settings: "wght" 700;
  font-size: 1.25rem;
}

@media screen and (min-width: 62.5rem) {
  .button-dot {
    font-size: 1.5625rem;
  }
}

.button {
  border: 1px solid currentColor;
  padding: 0.5em 1em;
}

/*
@mixin button-ghost {
  text-decoration: none;
  color: inherit;
  border: 1px solid currentColor;
  background-color: transparent;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  min-width: 4rem;
  transition: all .2s;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $color-primary;
  }
}
.button-ghost {
  @include button-ghost;
}
*/
/*
@mixin button-cta {
  text-decoration: none;
  color: white;
  border: 1px solid $color-primary;
  background-color: $color-primary;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  min-width: 4rem;
  transition: all .2s;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: darken($color-primary, 10);
  }
  &:active {
    background-color: $color-secondary;
  }
}
.button-cta {
  @include button-cta;
}
*/
.link-discrete {
  transition: all .2s;
  text-decoration: none;
}

.link-discrete .white-bg {
  border: 2px solid transparent;
}

.link-discrete:link, .link-discrete:visited {
  color: inherit;
  background-color: transparent;
}

.link-discrete:hover, .link-discrete:focus {
  color: #0055ff;
  background-color: transparent;
}

.link-discrete:hover .white-bg, .link-discrete:focus .white-bg {
  border-color: #0055ff;
}

.link-discrete:active {
  color: #FF5018;
  background-color: transparent;
}

.link-discrete:active .white-bg {
  border-color: #FF5018;
}

/*
// White Link gets black on hover
@mixin link-white {
  transition: all .2s;
  text-decoration: none;
  background-color: transparent;

  &:link,
  &:visited {
      color: $white;
  }
  &:hover,
  &:focus,
  &:active {
    color: $brand-black;
  }
}

.link-white {
  @include link-white;
}
*/
/* 4 - Entry Content
----------------- */
ul, ol {
  margin: 2rem 0;
  padding: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li, ol li {
  margin-bottom: 0.5em;
  list-style: square inside;
}

ul li:last-of-type, ol li:last-of-type {
  margin-bottom: 0;
}

ol li {
  list-style: decimal inside;
}

.entry-content {
  font-size: inherit;
  color: inherit;
  line-height: 1.5;
}

.entry-content > *:last-child {
  margin-bottom: 0;
}

.entry-content > *:first-child {
  margin-top: 0;
}

.entry-content a {
  transition: .2s all;
  color: inherit;
}

.entry-content a:link, .entry-content a:visited {
  color: inherit;
  background-color: transparent;
}

.entry-content a:hover, .entry-content a:focus, .entry-content a[focus-within] {
  color: #0055ff;
}

.entry-content a:hover, .entry-content a:focus, .entry-content a:focus-within {
  color: #0055ff;
}

.entry-content a:active {
  color: #FF5018;
}

.entry-content blockquote > *:last-child {
  margin-bottom: 0;
}

.entry-content blockquote > *:first-child {
  margin-top: 0;
}

.fullscreen {
  min-height: 100vh;
  margin-top: -4rem;
}

/*

Style Topbar [header.php]

File structure :
------------------
1 - Topbar settings
------------------
2 - Mobile Menu
    2.1 : Menu Layout : hidden
    2.2. Menu layout : visible
    2.3 : Links Style
    2.4 : Close button
    2.5 : Burger button
------------------
3 - Menu Desktop
  3.1 - Menu Layout
  3.2 - Links style
------------------
4 - x

*/
/* 1 - Topbar settings
------------------ */
#topbar {
  width: 100%;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 300;
  background: #fff;
  color: #000;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* 2 -  Mobile Menu
    ------------------ */
  /* 3 - Menu Desktop
    ------------------ */
}

@media screen and (min-width: 25rem) {
  #topbar {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #topbar {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 51.875rem) {
  #topbar {
    padding-left: 1.25rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #topbar {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 25rem) {
  #topbar {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #topbar {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 51.875rem) {
  #topbar {
    padding-right: 1.25rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #topbar {
    padding-right: 1.5rem;
  }
}

#topbar #topbar-logo * {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  height: 2rem;
  width: auto;
}

#topbar ul.primary {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Stratos", Tahoma, "Arial", sans-serif;
  /* Links icon (Font Stratus) */
}

#topbar ul.primary li {
  list-style: none;
  padding: 0.5em 1em 0.5em 2em;
  position: relative;
  border: 1px solid transparent;
  border-radius: 1.5rem;
}

#topbar ul.primary li::before {
  width: 0.75rem;
  text-align: right;
  font-size: inherit;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  font-family: "Stratus", "Stratos", Tahoma, "Arial", sans-serif;
  content: "!";
}

#topbar ul.primary li.current-menu-item {
  border-color: #080636;
}

#topbar ul.primary li:nth-of-type(2)::before {
  content: "/";
}

#topbar ul.primary li:nth-of-type(3)::before {
  content: "=";
}

#topbar ul.primary li:nth-of-type(4)::before {
  content: "o";
}

#topbar ul.primary li:nth-of-type(5)::before {
  content: "%";
}

#topbar ul.primary li:nth-of-type(6)::before {
  content: "+";
}

#topbar a {
  transition: all .2s;
  text-decoration: none;
}

#topbar a .white-bg {
  border: 2px solid transparent;
}

#topbar a:link, #topbar a:visited {
  color: inherit;
  background-color: transparent;
}

#topbar a:hover, #topbar a:focus {
  color: #0055ff;
  background-color: transparent;
}

#topbar a:hover .white-bg, #topbar a:focus .white-bg {
  border-color: #0055ff;
}

#topbar a:active {
  color: #FF5018;
  background-color: transparent;
}

#topbar a:active .white-bg {
  border-color: #FF5018;
}

@media screen and (max-width: 51.865rem) {
  #topbar #menu #close-menu,
  #topbar #menu ul.primary {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 100vw;
    transform: translate(50%, 0%);
    opacity: 0.5;
    color: #fff;
    background: #0055ff;
    transition: all 0.4s;
    margin: 0;
  }
  #topbar #menu:focus, #topbar #menu.menu-open {
    overflow: visible;
  }
  #topbar #menu:focus #close-menu,
  #topbar #menu:focus ul.primary, #topbar #menu.menu-open #close-menu,
  #topbar #menu.menu-open ul.primary {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
  #topbar #menu ul.primary {
    top: 10vh;
    height: 90vh;
    overflow-y: scroll;
    padding: 1rem;
    box-sizing: border-box;
  }
  #topbar #menu ul.primary:focus, #topbar #menu ul.primary[focus-within] {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
  #topbar #menu ul.primary:focus, #topbar #menu ul.primary:focus-within {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
}

@media screen and (max-width: 51.865rem) and (min-width: 25rem) {
  #topbar #menu ul.primary {
    padding: 1rem;
  }
}

@media screen and (max-width: 51.865rem) and (min-width: 42.5rem) {
  #topbar #menu ul.primary {
    padding: 1rem;
  }
}

@media screen and (max-width: 51.865rem) and (min-width: 51.875rem) {
  #topbar #menu ul.primary {
    padding: 1.25rem;
  }
}

@media screen and (max-width: 51.865rem) and (min-width: 62.5rem) {
  #topbar #menu ul.primary {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 51.865rem) {
  #topbar #menu ul.primary li {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  #topbar #menu ul.primary li a:hover, #topbar #menu ul.primary li a:focus {
    color: #080636;
  }
  #topbar #menu ul.primary li a:active {
    color: #fff;
  }
  #topbar #menu #close-menu {
    height: 10vh;
    text-align: center;
  }
  #topbar #menu #close-menu > button {
    height: 100%;
    vertical-align: middle;
    display: inline;
    line-height: 0;
    border-radius: 50%;
  }
  #topbar #menu #close-menu > button:hover > *, #topbar #menu #close-menu > button:focus > * {
    background-color: #080636;
  }
  #topbar #menu #close-menu > button:active > * {
    background-color: #FF5018;
  }
  #topbar #menu #close-menu > button > * {
    object-fit: contain;
    margin: 0;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    transition: background-color .2s;
  }
  #topbar #menu #burger-menu {
    transition: all .2s;
    padding: 0.35rem 0.25rem;
    line-height: 0;
  }
  #topbar #menu #burger-menu:hover {
    background-color: #0055ff;
  }
  #topbar #menu #burger-menu:hover img {
    filter: invert(1);
  }
  #topbar #menu #burger-menu:active, #topbar #menu #burger-menu:focus {
    background-color: #FF5018;
  }
  #topbar #menu #burger-menu:active img, #topbar #menu #burger-menu:focus img {
    filter: invert(1);
  }
  #topbar #menu #burger-menu > img,
  #topbar #menu #burger-menu > picture {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

@media screen and (min-width: 51.875rem) {
  #topbar ul.primary > li {
    display: inline-block;
    margin-left: 2rem;
  }
}

#content {
  padding-top: 4rem;
}

/*

Style Breadcrumb [#nav-breadcrumb]

File Structure :

1 - Breadcrumb container
  1.2 - Breadcrumb list
  1.3 - Breadcrumb items
  1.4 - Breadcrumb link

*/
#nav-breadcrumbs {
  padding-top: 1rem;
  font-family: "Stratos", Tahoma, "Arial", sans-serif;
  position: relative;
  margin-bottom: 2rem;
}

#nav-breadcrumbs::after {
  font-size: 1.25rem;
  position: absolute;
  left: 0;
  bottom: -2rem;
  content: "·········";
}

@media screen and (min-width: 62.5rem) {
  #nav-breadcrumbs::after {
    font-size: 1.5625rem;
  }
}

#nav-breadcrumbs #breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav-breadcrumbs #breadcrumbs li {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 2em;
  position: relative;
  font-size: 0.75rem;
}

#nav-breadcrumbs #breadcrumbs li::after {
  position: absolute;
  content: ">";
  height: 100%;
  top: 0;
  right: -1.25em;
}

#nav-breadcrumbs #breadcrumbs li:last-child::after {
  display: none;
}

#nav-breadcrumbs #breadcrumbs li:first-child > a {
  text-decoration: underline;
}

#nav-breadcrumbs #breadcrumbs a {
  transition: .2s all;
  color: inherit;
  text-decoration: none;
}

#nav-breadcrumbs #breadcrumbs a:link, #nav-breadcrumbs #breadcrumbs a:visited {
  color: inherit;
  background-color: transparent;
}

#nav-breadcrumbs #breadcrumbs a:hover, #nav-breadcrumbs #breadcrumbs a:focus, #nav-breadcrumbs #breadcrumbs a[focus-within] {
  color: #0055ff;
}

#nav-breadcrumbs #breadcrumbs a:hover, #nav-breadcrumbs #breadcrumbs a:focus, #nav-breadcrumbs #breadcrumbs a:focus-within {
  color: #0055ff;
}

#nav-breadcrumbs #breadcrumbs a:active {
  color: #FF5018;
}

/*

Style Footer [footer.php]

File structure :
------------------
1 - Footer layout
    1.1 Layout Mobile
    1.2 Layout Desktop
------------------
2 - Logo + social
    2.1 - Logo
    2.2 - Social Icons
------------------
3 - Custom Menu
    3.1 Links Listing
------------------
4 - Content


*/
/*1 - Footer layout
------------------ */
#footer {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #080636;
  background: #fff;
}

#footer.brand-black-bg {
  color: #fff;
  background: #080636;
}

@media screen and (min-width: 62.5rem) {
  #footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2rem;
  }
}

@media screen and (max-width: 62.5rem) {
  #footer #footer-social {
    margin-bottom: 2rem;
  }
}

#footer #footer-social a {
  transition: all .2s;
  text-decoration: none;
  display: inline-block;
  margin-right: 1.5rem;
  width: auto;
  height: auto;
}

#footer #footer-social a .white-bg {
  border: 2px solid transparent;
}

#footer #footer-social a:link, #footer #footer-social a:visited {
  color: inherit;
  background-color: transparent;
}

#footer #footer-social a:hover, #footer #footer-social a:focus {
  color: #0055ff;
  background-color: transparent;
}

#footer #footer-social a:hover .white-bg, #footer #footer-social a:focus .white-bg {
  border-color: #0055ff;
}

#footer #footer-social a:active {
  color: #FF5018;
  background-color: transparent;
}

#footer #footer-social a:active .white-bg {
  border-color: #FF5018;
}

#footer #footer-social a:last-of-type {
  margin-right: 0;
}

#footer #footer-social #footer-copyright {
  margin-top: 0.25rem;
  display: block;
}

#footer a {
  transition: .2s all;
  color: inherit;
}

#footer a:link, #footer a:visited {
  color: inherit;
  background-color: transparent;
}

#footer a:hover, #footer a:focus, #footer a[focus-within] {
  color: #0055ff;
}

#footer a:hover, #footer a:focus, #footer a:focus-within {
  color: #0055ff;
}

#footer a:active {
  color: #FF5018;
}

#footer p {
  margin: 0;
}

#footer #footer-content p:not(:first-of-type) {
  margin-top: 0.5em;
}

.modale {
  opacity: 0;
  position: fixed;
  z-index: 300;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  transform: translate(100%, -50%);
  box-sizing: border-box;
  transition: all .4s;
  background-color: rgba(0, 0, 0, 0.8);
  /*
    // Butoon 2 - close video
    #video-close {
        grid-row: 1 / 2;
    }
    */
  /*
    // Overlay (Close Modal)
    #video-overlay {
        background-color: rgba(black, 0.8);
        width: 100%;
        height: 100%;
        grid-row: 1 / 4;
        grid-column: 1 / 4;
        border: none;
    }
    */
}

.modale .closeModale {
  outline: 0;
  background-color: transparent;
  transition: all .2s;
  color: #fff;
  font-size: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  border: 1px solid currentColor;
  margin-bottom: 2rem;
  cursor: pointer;
}

.modale iframe {
  grid-row: 2 / 3;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
  box-sizing: border-box;
}

.modale #video-close,
.modale iframe {
  grid-column: 2;
}

.modale.active {
  opacity: 1;
  transform: translate(-50%, -50%);
}

#has-random-color.random-blue #post-content .blk-lead,
#has-random-color.random-blue .custom-color {
  color: #0055ff;
  /*
        .button-type {
            color: $default-text-color;
        }
        */
}

#has-random-color.random-blue .custom-color-bg,
#has-random-color.random-blue #raw-content .blk-lead {
  background-color: #0055ff;
}

#has-random-color.random-blue .custom-color-bg .custom-color,
#has-random-color.random-blue #raw-content .blk-lead .custom-color {
  color: #fff;
}

#has-random-color.random-blue .custom-color-bg a:hover,
#has-random-color.random-blue .custom-color-bg a:focus,
#has-random-color.random-blue #raw-content .blk-lead a:hover,
#has-random-color.random-blue #raw-content .blk-lead a:focus {
  color: #080636;
}

#has-random-color.random-blue .title-custom-color h1,
#has-random-color.random-blue .title-custom-color h2,
#has-random-color.random-blue .title-custom-color h3,
#has-random-color.random-blue .title-custom-color h4,
#has-random-color.random-blue .title-custom-color h5,
#has-random-color.random-blue .title-custom-color h6,
#has-random-color.random-blue .title-custom-color blockquote {
  color: #0055ff;
}

#has-random-color.random-blue a:hover,
#has-random-color.random-blue a:focus {
  color: #fff;
}

#has-random-color.random-orange #post-content .blk-lead,
#has-random-color.random-orange .custom-color {
  color: #FF5018;
  /*
        .button-type {
            color: $default-text-color;
        }
        */
}

#has-random-color.random-orange .custom-color-bg,
#has-random-color.random-orange #raw-content .blk-lead {
  background-color: #FF5018;
}

#has-random-color.random-orange .custom-color-bg .custom-color,
#has-random-color.random-orange #raw-content .blk-lead .custom-color {
  color: #fff;
}

#has-random-color.random-orange .custom-color-bg a:hover,
#has-random-color.random-orange .custom-color-bg a:focus,
#has-random-color.random-orange #raw-content .blk-lead a:hover,
#has-random-color.random-orange #raw-content .blk-lead a:focus {
  color: #080636;
}

#has-random-color.random-orange .title-custom-color h1,
#has-random-color.random-orange .title-custom-color h2,
#has-random-color.random-orange .title-custom-color h3,
#has-random-color.random-orange .title-custom-color h4,
#has-random-color.random-orange .title-custom-color h5,
#has-random-color.random-orange .title-custom-color h6,
#has-random-color.random-orange .title-custom-color blockquote {
  color: #FF5018;
}

#has-random-color.random-pink #post-content .blk-lead,
#has-random-color.random-pink .custom-color {
  color: #c814b4;
  /*
        .button-type {
            color: $default-text-color;
        }
        */
}

#has-random-color.random-pink .custom-color-bg,
#has-random-color.random-pink #raw-content .blk-lead {
  background-color: #c814b4;
}

#has-random-color.random-pink .custom-color-bg .custom-color,
#has-random-color.random-pink #raw-content .blk-lead .custom-color {
  color: #fff;
}

#has-random-color.random-pink .custom-color-bg a:hover,
#has-random-color.random-pink .custom-color-bg a:focus,
#has-random-color.random-pink #raw-content .blk-lead a:hover,
#has-random-color.random-pink #raw-content .blk-lead a:focus {
  color: #080636;
}

#has-random-color.random-pink .title-custom-color h1,
#has-random-color.random-pink .title-custom-color h2,
#has-random-color.random-pink .title-custom-color h3,
#has-random-color.random-pink .title-custom-color h4,
#has-random-color.random-pink .title-custom-color h5,
#has-random-color.random-pink .title-custom-color h6,
#has-random-color.random-pink .title-custom-color blockquote {
  color: #c814b4;
}

#has-random-color.random-violet #post-content .blk-lead,
#has-random-color.random-violet .custom-color {
  color: #8200DC;
  /*
        .button-type {
            color: $default-text-color;
        }
        */
}

#has-random-color.random-violet .custom-color-bg,
#has-random-color.random-violet #raw-content .blk-lead {
  background-color: #8200DC;
}

#has-random-color.random-violet .custom-color-bg .custom-color,
#has-random-color.random-violet #raw-content .blk-lead .custom-color {
  color: #fff;
}

#has-random-color.random-violet .custom-color-bg a:hover,
#has-random-color.random-violet .custom-color-bg a:focus,
#has-random-color.random-violet #raw-content .blk-lead a:hover,
#has-random-color.random-violet #raw-content .blk-lead a:focus {
  color: #080636;
}

#has-random-color.random-violet .title-custom-color h1,
#has-random-color.random-violet .title-custom-color h2,
#has-random-color.random-violet .title-custom-color h3,
#has-random-color.random-violet .title-custom-color h4,
#has-random-color.random-violet .title-custom-color h5,
#has-random-color.random-violet .title-custom-color h6,
#has-random-color.random-violet .title-custom-color blockquote {
  color: #8200DC;
}

#has-random-color.random-green #post-content .blk-lead,
#has-random-color.random-green .custom-color {
  color: #00c83c;
  /*
        .button-type {
            color: $default-text-color;
        }
        */
}

#has-random-color.random-green .custom-color-bg,
#has-random-color.random-green #raw-content .blk-lead {
  background-color: #00c83c;
}

#has-random-color.random-green .custom-color-bg .custom-color,
#has-random-color.random-green #raw-content .blk-lead .custom-color {
  color: #fff;
}

#has-random-color.random-green .custom-color-bg a:hover,
#has-random-color.random-green .custom-color-bg a:focus,
#has-random-color.random-green #raw-content .blk-lead a:hover,
#has-random-color.random-green #raw-content .blk-lead a:focus {
  color: #080636;
}

#has-random-color.random-green .title-custom-color h1,
#has-random-color.random-green .title-custom-color h2,
#has-random-color.random-green .title-custom-color h3,
#has-random-color.random-green .title-custom-color h4,
#has-random-color.random-green .title-custom-color h5,
#has-random-color.random-green .title-custom-color h6,
#has-random-color.random-green .title-custom-color blockquote {
  color: #00c83c;
}

#has-random-color.random-yellow #post-content .blk-lead,
#has-random-color.random-yellow .custom-color {
  color: #FFBD00;
  /*
        .button-type {
            color: $default-text-color;
        }
        */
}

#has-random-color.random-yellow .custom-color-bg,
#has-random-color.random-yellow #raw-content .blk-lead {
  background-color: #FFBD00;
}

#has-random-color.random-yellow .custom-color-bg .custom-color,
#has-random-color.random-yellow #raw-content .blk-lead .custom-color {
  color: #fff;
}

#has-random-color.random-yellow .custom-color-bg a:hover,
#has-random-color.random-yellow .custom-color-bg a:focus,
#has-random-color.random-yellow #raw-content .blk-lead a:hover,
#has-random-color.random-yellow #raw-content .blk-lead a:focus {
  color: #080636;
}

#has-random-color.random-yellow .title-custom-color h1,
#has-random-color.random-yellow .title-custom-color h2,
#has-random-color.random-yellow .title-custom-color h3,
#has-random-color.random-yellow .title-custom-color h4,
#has-random-color.random-yellow .title-custom-color h5,
#has-random-color.random-yellow .title-custom-color h6,
#has-random-color.random-yellow .title-custom-color blockquote {
  color: #FFBD00;
}

.icon_style_1 span {
  font-family: "Icon Style 1", "Stratos", Tahoma, "Arial", sans-serif;
}

.icon_style_2 span {
  font-family: "Icon Style 2", "Stratos", Tahoma, "Arial", sans-serif;
}

.icon_style_3 span {
  font-family: "Icon Style 3", "Stratos", Tahoma, "Arial", sans-serif;
}

.icon_style_4 span {
  font-family: "Icon Style 4", "Stratos", Tahoma, "Arial", sans-serif;
}

.icon_style_5 span {
  font-family: "Icon Style 5", "Stratos", Tahoma, "Arial", sans-serif;
}

/*
5 Styles typographiques : 

icon_style_1 : Style 1 (lettres modifiées : vdnlïê)
icon_style_2 : Style 2 (lettres modifiées : opgèâ)
icon_style_3 : Style 3 (lettres modifiées : rxcjyî)
icon_style_4 : Style 4 (lettres modifiées : qhbmô)
icon_style_5 : Style 5 (lettres modifiées : uéfzw)

*/
@font-face {
  font-family: 'Icon Style 1';
  font-style: normal;
  font-weight: 700;
  src: url("./font/stratus.otf") format("opentype");
  unicode-range: U+0076, U+0064, U+006E, U+006C, U+00EF, U+00EA;
}

@font-face {
  font-family: 'Icon Style 2';
  font-style: normal;
  font-weight: 700;
  src: url("./font/stratus.otf") format("opentype");
  unicode-range: U+006F, U+0070, U+0067, U+00E8, U+00E2;
}

@font-face {
  font-family: 'Icon Style 3';
  font-style: normal;
  font-weight: 700;
  src: url("./font/stratus.otf") format("opentype");
  unicode-range: U+0072, U+0078, U+0063, U+006A, U+0079, U+00EE;
}

@font-face {
  font-family: 'Icon Style 4';
  font-style: normal;
  font-weight: 700;
  src: url("./font/stratus.otf") format("opentype");
  unicode-range: U+0071, U+0068, U+0062, U+006D, U+00F4;
}

@font-face {
  font-family: 'Icon Style 5';
  font-style: normal;
  font-weight: 700;
  src: url("./font/stratus.otf") format("opentype");
  unicode-range: U+0075, U+00E9, U+0066, U+007A, U+0077;
}

.no-breadcrumb {
  padding-top: 3rem;
}

@media screen and (min-width: 51.875rem) {
  #two-columns-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    justify-items: start;
    align-items: start;
  }
}

@media screen and (min-width: 51.875rem) and (min-width: 62.5rem) {
  #two-columns-layout {
    grid-column-gap: 5rem;
  }
}

#two-columns-layout #column-left {
  margin-top: 0;
  padding-bottom: 6rem;
}

#two-columns-layout #column-right {
  margin-top: 4rem;
  /*
        @media screen and (min-width: $desktop_width) {
            margin-top: 3rem;
        }*/
}

@media screen and (max-width: 51.875rem) {
  #two-columns-layout #column-right {
    padding-bottom: 3rem;
  }
}

.cat-title * {
  display: inline-block;
  margin-top: 0;
}

.cat-title p {
  margin-right: 1em;
}

#scroll-header {
  box-sizing: border-box;
  width: 100%;
  width: 75vw;
  margin-left: 0;
}

#scroll-header > h1 {
  margin: 2rem 0 1rem;
}

@media screen and (min-width: 62.5rem) {
  #scroll-header {
    padding-right: 5rem;
  }
}

#scroll-content {
  box-sizing: border-box;
}

@media screen and (min-width: 51.875rem) {
  #scroll-content {
    position: relative;
    padding-top: 0;
  }
  #scroll-content #post-content {
    margin-left: 0;
    box-sizing: border-box;
    width: 75vw;
  }
}

@media screen and (min-width: 51.875rem) and (min-width: 62.5rem) {
  #scroll-content #post-content {
    padding-right: 5rem;
  }
}

@media screen and (min-width: 51.875rem) {
  #scroll-content #sticky-content {
    width: 25vw;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5rem;
    padding-bottom: 5rem;
  }
  #scroll-content #sticky-content.sticky {
    position: fixed;
    top: 5rem;
    margin-top: 0;
  }
  #scroll-content #sticky-content.sticky.sticky-finish {
    padding-bottom: 0;
    position: absolute;
    top: unset;
    bottom: 0;
    padding-bottom: 0;
  }
}

.sticky-content {
  text-align: left;
}

.sticky-content > * {
  display: inline-block;
  margin-bottom: 1rem;
}

.sticky-content > *:last-child {
  margin-bottom: 0;
}

.copyLink,
.JSrslink {
  text-decoration: underline;
  font-family: "Stratos", Tahoma, "Arial", sans-serif;
  line-height: 1.2;
  transition: .2s all;
  color: #fff;
}

.copyLink:link, .copyLink:visited,
.JSrslink:link,
.JSrslink:visited {
  color: #fff;
}

.copyLink:hover, .copyLink:focus, .copyLink[focus-within],
.JSrslink:hover,
.JSrslink:focus,
.JSrslink[focus-within] {
  color: #0055ff;
}

.copyLink:hover, .copyLink:focus, .copyLink:focus-within,
.JSrslink:hover,
.JSrslink:focus,
.JSrslink:focus-within {
  color: #0055ff;
}

.copyLink:active,
.JSrslink:active {
  color: #FF5018;
}

@media screen and (min-width: 51.875rem) {
  .copyLink p,
  .JSrslink p {
    margin-bottom: 0.5rem;
  }
}

.page-template-contact #raw-content p {
  max-width: 60vw;
}

/*

Style Gutenberg Block Header Home [bloc-accueil.php]

*/
#blk-header-home {
  padding: 10rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

@media screen and (max-width: 1277px) {
  #blk-header-home {
    justify-content: center;
  }
  #blk-header-home .video_zone {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 42.5rem) {
  #blk-header-home {
    padding: 1rem;
  }
}

#blk-header-home .video_zone {
  max-width: 650px;
  width: 100%;
  height: 100%;
  margin-right: 2rem;
}

@media screen and (max-width: 1460px) {
  #blk-header-home .video_zone {
    max-width: 550px;
    margin-right: 0;
  }
}

#blk-header-home .video_zone .video-container {
  max-height: fit-content;
  aspect-ratio: 6/4;
}

#blk-header-home .video_zone .video-container a {
  height: 100%;
}

#blk-header-home .video_zone .video-container a img {
  object-fit: cover;
  height: 100%;
}

#blk-header-home .logo_text {
  margin-left: 2rem;
  max-width: 600px;
}

@media screen and (max-width: 1460px) {
  #blk-header-home .logo_text {
    margin: 0;
  }
}

#blk-header-home .logo_text .text_zone h2 {
  color: #fff;
  font-size: 3rem;
  text-align: start;
  max-width: 550px;
  margin: 0;
}

@media screen and (max-width: 1460px) {
  #blk-header-home .logo_text .text_zone h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 51.875rem) {
  #blk-header-home .logo_text .text_zone h2 {
    font-size: 1.5rem;
  }
}

#blk-header-home #logo-home {
  margin: 0;
  height: auto;
  max-width: 600px;
  animation: stay 1s;
  transition: all 0.4s;
  position: relative;
  will-change: transform;
}

@media screen and (max-width: 1460px) {
  #blk-header-home #logo-home {
    max-width: 500px;
  }
}

@media screen and (max-width: 51.875rem) {
  #blk-header-home #logo-home {
    min-width: 0;
    width: 100%;
  }
}

#blk-header-home #logo-home img,
#blk-header-home #logo-home picture {
  width: 100%;
  height: auto;
}

#blk-header-home #logo-home.active {
  transform: scale(1.05);
}

#blk-header-home #logo-home:hover {
  transform: scale(1.05);
}

/* Animation */
/* "La Fabrique des" is alaways visible*/
#slide0,
#slide1,
#slide2,
#slide3,
#slide4,
#slide5,
#slide6,
#slide7,
#slide8,
#slide9 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#slide0.active,
#slide1.active,
#slide2.active,
#slide3.active,
#slide4.active,
#slide5.active,
#slide6.active,
#slide7.active,
#slide8.active,
#slide9.active {
  opacity: 1;
}

@-webkit-keyframes stay {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes stay {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/*

Style Gutenberg Block Header Home [bloc-accueil.php]

File structure :
------------------
1 - Bloc layout
    1.1 Layout Mobile
    1.2 Layout Desktop
------------------
2 - Elements Style
    2.1 - Title
    2.2 - Description
    2.3 - Video
    2.4 - Link

*/
.blk-header-home-video > div {
  display: grid;
  justify-items: left;
  grid-template-areas: "title" "content" "link" "video";
}

@media screen and (min-width: 51.875rem) {
  .blk-header-home-video > div {
    grid-auto-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-template-areas: "title      video" "content    video" "link       video";
  }
}

.blk-header-home-video > div > h1 {
  grid-area: title;
}

.blk-header-home-video > div > .entry-content {
  grid-area: content;
}

.blk-header-home-video > div > .embed-container {
  grid-area: video;
  justify-self: stretch;
  transition: all .2s;
}

.blk-header-home-video > div > .embed-container iframe {
  width: 100%;
  max-width: 100%;
}

.blk-header-home-video > div > a {
  grid-area: link;
}

@media screen and (min-width: 51.875rem) {
  .blk-header-home-video > div > a {
    margin-bottom: 0;
  }
}

.blk-header-home-video > div > * {
  margin-bottom: 2rem;
}

.blk-img img,
.blk-img picture,
.entry-content img,
.entry-content picture {
  width: 37.5rem;
  max-width: 100%;
  height: auto;
}

/*

Style Gutenberg Block Text + Image [titreTexteImage.php]

File structure :
------------------
1 - Bloc layout

*/
.blk-text-img {
  display: grid;
  grid-template-areas: "title" "button" "image";
  display: grid;
  grid-gap: 2rem;
  justify-items: left;
}

@media screen and (min-width: 42.5rem) {
  .blk-text-img {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(1rem, auto) minmax(1rem, auto);
    justify-items: left;
    align-items: start;
    /*
        grid-template-areas:    
        "title      image"
        "content    image"
        "button     image";
        */
    grid-template-areas: "title      image" "button     image";
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 62.5rem) {
  .blk-text-img {
    grid-template-columns: 6fr 1fr 6fr;
    grid-template-areas: "title  .   image" "button .   image";
  }
}

.blk-text-img > h2 {
  grid-area: title;
  margin: 0;
}

.blk-text-img > .entry-content {
  grid-area: content;
}

.blk-text-img > .image-container {
  grid-area: image;
  text-align: center;
}

.blk-text-img > a {
  margin-top: 1rem;
  grid-area: button;
}

@media screen and (min-width: 51.875rem) {
  .blk-text-img > a {
    margin-bottom: 0;
  }
}

.blk-text-img.has-content {
  grid-template-areas: "title" "content" "button" "image";
}

@media screen and (min-width: 42.5rem) {
  .blk-text-img.has-content {
    grid-template-rows: min-content min-content 1fr;
    /*
        grid-template-areas:    
        "title      image"
        "content    image"
        "button     image";
        */
    grid-template-areas: "title      image" "content    image" "button     image";
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 62.5rem) {
  .blk-text-img.has-content {
    grid-template-columns: 6fr 1fr 6fr;
    grid-template-areas: "title    .  image" "content  .  image" "button   .  image";
  }
}

/*
// Template Variant for odd block
#raw-content .blk-text-img:nth-of-type(odd)  {       
    @media screen and (min-width: $mobile_width) {
        grid-template-areas:    
        "image      title"
        "image      content"
        "image      button";
        @media screen and (min-width: $desktop_width) {
            grid-template-columns: 1fr 2fr;
        }
    }             
}
*/
/*

Style Gutenberg Block Text [texte.php]

File structure :
------------------
1 - Bloc layout

*/
.blk-text-fleche {
  display: grid;
  padding-top: 3rem;
  padding-bottom: 3rem;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: "title" "arrow";
}

@media screen and (min-width: 42.5rem) {
  .blk-text-fleche {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title  title" ".      arrow";
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 51.875rem) {
  .blk-text-fleche {
    padding-top: 7rem;
    padding-bottom: 7rem;
    grid-row-gap: 5rem;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "title  arrow";
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 51.875rem) and (min-width: 62.5rem) {
  .blk-text-fleche {
    grid-template-columns: 9fr 1fr 3fr;
    grid-template-areas: "title . arrow";
  }
}

.blk-text-fleche h2 {
  grid-area: title;
  margin: 0;
}

.blk-text-fleche .entry-content {
  grid-area: text;
}

.blk-text-fleche .giant-icon {
  grid-area: arrow;
}

.blk-text-fleche.has-content {
  grid-template-areas: "title" "text" "arrow";
}

@media screen and (min-width: 42.5rem) {
  .blk-text-fleche.has-content {
    grid-template-areas: "title  title" "text   arrow";
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 51.875rem) {
  .blk-text-fleche.has-content {
    grid-template-areas: "title  text" "title  arrow";
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 51.875rem) and (min-width: 62.5rem) {
  .blk-text-fleche.has-content {
    grid-template-areas: "title . text" "title . arrow";
  }
}

/*

Style Gutenberg Block Text [texte.php]

File structure :
------------------
1 - Bloc layout

*/
.blk-text-yellow {
  display: grid;
  grid-auto-rows: minmax(1rem, auto);
  grid-template-columns: 1fr;
}

@media screen and (min-width: 42.5rem) {
  .blk-text-yellow {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 51.875rem) {
  .blk-text-yellow {
    grid-template-columns: 2fr 1fr;
  }
}

.blk-text-yellow .entry-content .button-dot {
  margin-top: 2rem;
}

@media screen and (min-width: 42.5rem) {
  .blk-text-yellow .entry-content .button-dot {
    margin-top: 5rem;
  }
}

.blk-text-yellow-with-image {
  display: grid;
  grid-row-gap: 2rem;
  grid-auto-rows: minmax(1rem, auto);
  grid-template-areas: "image" "title" "text";
}

@media screen and (min-width: 25rem) {
  .blk-text-yellow-with-image {
    grid-row-gap: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .blk-text-yellow-with-image {
    grid-row-gap: 3rem;
  }
}

@media screen and (min-width: 51.875rem) {
  .blk-text-yellow-with-image {
    grid-row-gap: 4rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .blk-text-yellow-with-image {
    grid-row-gap: 5rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .blk-text-yellow-with-image {
    grid-column-gap: 2rem;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 51.875rem) {
  .blk-text-yellow-with-image {
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "image  title" "text   text";
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 51.875rem) and (min-width: 62.5rem) {
  .blk-text-yellow-with-image {
    grid-template-columns: 4fr 1fr 8fr;
    grid-template-areas: "image . title" "text  text text";
  }
}

.blk-text-yellow-with-image h2 {
  grid-area: title;
  margin: 0;
}

.blk-text-yellow-with-image .entry-content {
  grid-area: text;
  width: 100%;
  display: grid;
  justify-items: left;
  align-items: start;
  grid-column-gap: 2rem;
}

@media screen and (min-width: 42.5rem) {
  .blk-text-yellow-with-image .entry-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 51.875rem) {
  .blk-text-yellow-with-image .entry-content {
    grid-template-columns: 2fr 3fr;
  }
  .blk-text-yellow-with-image .entry-content .btn-container {
    grid-column: 2 / 3;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 51.875rem) and (min-width: 62.5rem) {
  .blk-text-yellow-with-image .entry-content {
    grid-template-columns: 4fr 1fr 8fr;
  }
  .blk-text-yellow-with-image .entry-content .btn-container {
    grid-column: 3 / 4;
  }
}

.blk-text-yellow-with-image .btn-container > * {
  display: block;
}

.blk-text-yellow-with-image .btn-container > *:nth-child(2) {
  margin-top: 1.5rem;
}

@media screen and (min-width: 87.5rem) {
  .blk-text-yellow-with-image .btn-container > * {
    display: inline-block;
  }
  .blk-text-yellow-with-image .btn-container > *:nth-child(2) {
    margin-top: 0;
    margin-left: 1.5rem;
  }
}

.blk-text-yellow-with-image .image-container {
  grid-area: image;
  max-width: 16.25rem;
  justify-self: center;
  text-align: center;
}

/*

Style Gutenberg Block Event [evenement.php]

File structure :
------------------
1 - Bloc layout
    1.1 - All children
    1.2 - Time
    1.3 - Button
------------------
2 - Layout Variant : image

*/
.blk-event:not(.has-image) {
  display: grid;
  align-items: start;
  justify-items: left;
  grid-template-rows: auto;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 51.875rem) {
  .blk-event:not(.has-image) {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 51.875rem) and (min-width: 62.5rem) {
  .blk-event:not(.has-image) {
    grid-template-columns: 2fr 3fr;
  }
}

@media screen and (min-width: 51.875rem) and (min-width: 62.5rem) and (min-width: 62.5rem) {
  .blk-event:not(.has-image) {
    grid-template-columns: 4fr 1fr 8fr;
  }
}

@media screen and (min-width: 51.875rem) {
  .blk-event:not(.has-image) > * {
    grid-column: 2 / 3;
  }
}

@media screen and (min-width: 51.875rem) and (min-width: 62.5rem) {
  .blk-event:not(.has-image) > * {
    grid-column: 3 / 4;
  }
}

@media screen and (min-width: 51.875rem) {
  .blk-event:not(.has-image) > h3,
  .blk-event:not(.has-image) > a {
    grid-column: 1 / 2;
  }
  .blk-event:not(.has-image) > h3 {
    grid-row: 1;
  }
  .blk-event:not(.has-image) > a {
    grid-row: 2;
  }
}

.blk-event h3,
.blk-event h2 {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.blk-event .event-info > .brd-btm-dot {
  margin-bottom: 1.5rem;
  padding-bottom: 0;
  display: inline-block;
}

.blk-event .event-info > .brd-btm-dot > * {
  display: inline;
}

.blk-event .event-info time {
  font-weight: bold;
}

.blk-event.has-image {
  display: grid;
  justify-items: left;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 51.875rem) {
  .blk-event.has-image {
    grid-column-gap: 8rem;
    grid-template-columns: 1fr 1fr;
  }
}

.blk-event.has-image .button-dot {
  margin-top: 2rem;
}

@media screen and (max-width: 51.875rem) {
  .blk-event .image-container {
    margin-bottom: 2rem;
  }
}

/*

Style Gutenberg Block Learn [accueil-se-former.php]

File structure :
------------------
1 - Bloc layout
    1.1 - wrapper 1
    1.2 - wrapper 2

*/
.blk-learn:not(.has-image) > * {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.blk-learn:not(.has-image) h2,
.blk-learn:not(.has-image) .entry-content {
  margin-bottom: 3rem;
}

.blk-learn:not(.has-image) .button-dot {
  display: table;
  margin-top: 3rem;
}

.blk-learn.has-image {
  display: grid;
  grid-auto-rows: minmax(1rem, auto);
  grid-row-gap: 2rem;
  grid-template-areas: "image" "title" "text" "list" "link";
}

@media screen and (min-width: 25rem) {
  .blk-learn.has-image {
    grid-row-gap: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .blk-learn.has-image {
    grid-row-gap: 3rem;
  }
}

@media screen and (min-width: 51.875rem) {
  .blk-learn.has-image {
    grid-row-gap: 4rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .blk-learn.has-image {
    grid-row-gap: 5rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .blk-learn.has-image {
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image  image" "title  title" "text   text" "link   list";
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 51.875rem) {
  .blk-learn.has-image {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "image  title" "image  text" "link   list";
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 51.875rem) and (min-width: 62.5rem) {
  .blk-learn.has-image {
    grid-template-columns: 4fr 1fr 8fr;
    grid-template-areas: "image . title" "image . text" "link  . list";
  }
}

.blk-learn.has-image .image-container {
  grid-area: image;
  max-width: 16.25rem;
}

@media screen and (min-width: 51.875rem) {
  .blk-learn.has-image .image-container {
    justify-self: center;
    text-align: center;
  }
}

.blk-learn.has-image h2 {
  grid-area: title;
  margin: 0;
}

.blk-learn.has-image .entry-content {
  grid-area: text;
}

.blk-learn.has-image nav {
  grid-area: list;
}

.blk-learn.has-image .button-dot {
  grid-area: link;
  justify-self: left;
  align-self: start;
}

@media screen and (min-width: 51.875rem) {
  .blk-learn.has-image .button-dot {
    justify-self: center;
  }
}

.blk-learn nav {
  text-align: left;
  display: flex;
  flex-flow: column;
  align-items: start;
}

@media screen and (min-width: 51.875rem) {
  .blk-learn nav {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: auto 1fr;
    justify-items: start;
  }
  .blk-learn nav a:nth-child(1),
  .blk-learn nav a:nth-child(2) {
    margin-top: 0;
  }
}

/*

Style Gutenberg Block Learn [accueil-se-former.php]

File structure :
------------------
1 - Bloc layout

*/
.blk-tools h2 {
  margin: 0;
}

.blk-tools .button-dot {
  margin-top: 2rem;
}

.blk-tools .custom-wrapper {
  padding: 0 1rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 42.5rem) {
  .blk-tools .custom-wrapper {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 51.875rem) {
  .blk-tools .custom-wrapper {
    padding: 0 2.5rem;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 51.875rem) and (min-width: 62.5rem) {
  .blk-tools .custom-wrapper {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .blk-tools .responsive-text-container {
    grid-template-columns: 4fr 1fr 8fr;
  }
  .blk-tools .responsive-text-container *:nth-child(2) {
    grid-column: 3 / 4;
  }
}

/*

Gutenberg Core blocks

File structure :
------------------
0 - Select Core Blosks 
------------------
1 - Text
    1.1 - Paragraph
    1.2 - Title
    1.3 - List
    1.4 - Blockquote
------------------
2 - Picture
    2.1 - Image
    2.2 - Figure

*/
#raw-content,
#post-content {
  box-sizing: border-box;
  /* 2 - Picture
    ------------------*/
  /* Link
    a {
        @include link-default;
    }
    */
}

#raw-content > *:not(section),
#post-content > *:not(section) {
  margin-bottom: 2rem;
  margin-top: 0;
}

#raw-content > h1,
#raw-content > h2,
#raw-content > h3,
#raw-content > h4,
#raw-content > h5,
#raw-content > h6,
#post-content > h1,
#post-content > h2,
#post-content > h3,
#post-content > h4,
#post-content > h5,
#post-content > h6 {
  margin-top: 4rem;
}

#raw-content > .entry-content h1,
#raw-content > .entry-content h2,
#raw-content > .entry-content h3,
#raw-content > .entry-content h4,
#raw-content > .entry-content h5,
#raw-content > .entry-content h6,
#post-content > .entry-content h1,
#post-content > .entry-content h2,
#post-content > .entry-content h3,
#post-content > .entry-content h4,
#post-content > .entry-content h5,
#post-content > .entry-content h6 {
  margin-top: 4rem;
}

#raw-content > figure,
#post-content > figure {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 25rem) {
  #raw-content > figure,
  #post-content > figure {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content > figure,
  #post-content > figure {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 51.875rem) {
  #raw-content > figure,
  #post-content > figure {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #raw-content > figure,
  #post-content > figure {
    padding-top: 5rem;
  }
}

@media screen and (min-width: 25rem) {
  #raw-content > figure,
  #post-content > figure {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content > figure,
  #post-content > figure {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 51.875rem) {
  #raw-content > figure,
  #post-content > figure {
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #raw-content > figure,
  #post-content > figure {
    padding-bottom: 5rem;
  }
}

#raw-content > figure > *,
#post-content > figure > * {
  max-width: 100%;
  height: auto;
}

#raw-content > figure > figcaption,
#post-content > figure > figcaption {
  margin-top: 2rem;
  text-align: center;
}

#post-content > h2,
#post-content > .entry-content h2 {
  position: relative;
  margin-top: 5.5rem;
}

#post-content > h2::before,
#post-content > .entry-content h2::before {
  position: absolute;
  left: 0;
  top: -1em;
  content: "· · · · · · · · · · · · ·";
}

#post-content > .wrapper,
#post-content > .narrow-wrapper {
  padding-left: 0;
  padding-right: 0;
}

blockquote {
  position: relative;
  margin: 5.5rem 0;
}

blockquote::before, blockquote::after {
  content: "· · · · · · · · · · · · ·";
  position: absolute;
}

blockquote::before {
  left: 0;
  top: -1em;
}

blockquote:after {
  position: absolute;
  left: 0;
  bottom: -1em;
}

blockquote > * {
  padding: 1rem 0;
}

/*

Style Gutenberg Block Partner [partenaire.php]

File structure :
------------------
1 - Bloc layout
    1.1 - Listing
    1.2 - Single Partner
*/
.partner-single {
  background: #F3F5F7;
  padding: 0;
  line-height: 0;
}

.partner-single a {
  transition: opacity .2s;
  text-decoration: none;
}

.partner-single a:link, .partner-single a:visited {
  opacity: 1;
}

.partner-single a:hover, .partner-single a:focus, .partner-single a:active {
  opacity: 0.5;
}

.partner-single img,
.partner-single picture {
  text-align: center;
  vertical-align: middle;
  filter: none;
}

/*

Style Gutenberg Block Partner [partenaire.php]

File structure :
------------------
1 - Bloc layout
    1.1 - Listing
    1.2 - Single Partner
*/
.blk-member,
.blk-partner {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 25rem) {
  .blk-member,
  .blk-partner {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .blk-member,
  .blk-partner {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 51.875rem) {
  .blk-member,
  .blk-partner {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .blk-member,
  .blk-partner {
    padding-top: 5rem;
  }
}

@media screen and (min-width: 25rem) {
  .blk-member,
  .blk-partner {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .blk-member,
  .blk-partner {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 51.875rem) {
  .blk-member,
  .blk-partner {
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .blk-member,
  .blk-partner {
    padding-bottom: 5rem;
  }
}

.blk-member h2,
.blk-member .text-container,
.blk-member .entry-content,
.blk-partner h2,
.blk-partner .text-container,
.blk-partner .entry-content {
  margin-bottom: 2rem;
}

@media screen and (min-width: 62.5rem) {
  .blk-member.has-title,
  .blk-partner.has-title {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "title  list" "text   list" ".      list";
    display: grid;
    grid-gap: 2rem;
    justify-items: left;
    align-items: start;
  }
  .blk-member.has-title h2,
  .blk-partner.has-title h2 {
    grid-area: title;
  }
  .blk-member.has-title .responsive-text-container,
  .blk-partner.has-title .responsive-text-container {
    grid-area: text;
  }
  .blk-member.has-title h2,
  .blk-member.has-title .responsive-text-container,
  .blk-partner.has-title h2,
  .blk-partner.has-title .responsive-text-container {
    margin-bottom: 0;
  }
  .blk-member.has-title .basic-listing-member,
  .blk-member.has-title .basic-listing-partner,
  .blk-partner.has-title .basic-listing-member,
  .blk-partner.has-title .basic-listing-partner {
    grid-area: list;
  }
}

.blk-member .button-dot:not(:first-child),
.blk-partner .button-dot:not(:first-child) {
  margin-top: 2rem;
}

@media screen and (min-width: 42.5rem) and (max-width: 62.5rem) {
  .blk-member .button-dot:not(:first-child),
  .blk-partner .button-dot:not(:first-child) {
    margin-top: 0;
    margin-left: 2rem;
  }
}

.blk-member + .blk-partner,
.blk-partner + .blk-member {
  padding-top: 1rem;
}

@media screen and (min-width: 25rem) {
  .blk-member + .blk-partner,
  .blk-partner + .blk-member {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .blk-member + .blk-partner,
  .blk-partner + .blk-member {
    padding-top: 1.25rem;
  }
}

@media screen and (min-width: 51.875rem) {
  .blk-member + .blk-partner,
  .blk-partner + .blk-member {
    padding-top: 2.5rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .blk-member + .blk-partner,
  .blk-partner + .blk-member {
    padding-top: 3rem;
  }
}

.member-single {
  text-align: left;
}

.member-single .member-thumbnail {
  border: 1px solid #0055ff;
  line-height: 0;
  margin-bottom: 1rem;
}

.member-single .member-thumbnail img,
.member-single .member-thumbnail picture {
  filter: saturate(0);
  mix-blend-mode: screen;
}

.member-single h3,
.member-single p {
  margin: 0;
}

.member-single .member-name {
  font-family: Verdana, Tahoma, "Arial", sans-serif;
  font-weight: 700;
  font-variation-settings: "wght" 700;
  font-size: 1rem;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 62.5rem) {
  .member-single .member-name {
    font-size: 1rem;
  }
}

/*

Style Gutenberg Block Video [video.php]

File structure :
------------------
1 - Bloc layout

*/
.btn-modale {
  display: block;
  line-height: 0;
  text-align: left;
  position: relative;
  transition: all 0.2s;
}

.btn-modale img,
.btn-modale picture,
.btn-modale figure {
  line-height: 1;
  width: 100%;
  max-width: 50rem;
  height: auto;
  opacity: 1;
  transition: opacity 0.2s;
}

.btn-modale::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  border: 2px solid white;
  background: url(./image/player.svg) center center no-repeat;
  background-color: transparent;
  opacity: 1;
  transition: all 0.2s;
}

@media screen and (min-width: 55rem) {
  .btn-modale::after {
    top: 50%;
    left: 50%;
  }
}

.btn-modale:hover::after, .btn-modale:focus::after, .btn-modale:active::after {
  background-color: #0055ff;
  border-color: #0055ff;
}

.btn-modale:hover img,
.btn-modale:hover picture,
.btn-modale:hover figure, .btn-modale:focus img,
.btn-modale:focus picture,
.btn-modale:focus figure, .btn-modale:active img,
.btn-modale:active picture,
.btn-modale:active figure {
  filter: saturate(0);
}

#post-content .btn-modale::after {
  top: 50%;
  left: 50%;
}

@media screen and (min-width: 75rem) {
  #post-content .btn-modale::after {
    top: 50%;
    left: 25rem;
  }
}

/*



// Card style
// Used in block Gutenberg : source de l'article, téléchargement, lien externe

*/
.card {
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 3rem 1rem;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
}

.card > *,
.card h2 {
  max-width: 95%;
  margin-top: 0;
  margin-bottom: 1rem;
}

.card > *:last-child,
.card h2:last-child {
  margin-bottom: 0;
}

.card .line {
  display: flex;
  flex-flow: row nowrap;
}

.card .line h2 {
  display: inline-block;
  word-break: break-word;
}

.card .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  overflow: hidden;
  margin-right: 0.5em;
}

.card .icon-container img,
.card .icon-container picture {
  filter: unset;
}

.card .card-url {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ' … ';
  height: 1.5em;
  line-height: 1;
  max-width: 100%;
}

.card .image-source {
  width: 100%;
  max-width: 18.75rem;
  margin-right: 2rem;
}

.blk-source i {
  margin-bottom: 1rem;
}

/* 7 - Form settings
form {
    width: 100%;
    max-width: 600px;
    grid-gap: 1rem;
    margin: auto;
    display: grid;
}
*/
#raw-content .blk-lead {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 10rem;
}

@media screen and (min-width: 25rem) {
  #raw-content .blk-lead {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content .blk-lead {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 51.875rem) {
  #raw-content .blk-lead {
    padding-left: 1.25rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #raw-content .blk-lead {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 25rem) {
  #raw-content .blk-lead {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content .blk-lead {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 51.875rem) {
  #raw-content .blk-lead {
    padding-right: 1.25rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #raw-content .blk-lead {
    padding-right: 1.5rem;
  }
}

.blk-lead > div {
  font-family: "Stratos", Tahoma, "Arial", sans-serif;
  line-height: 1.2;
}

@media screen and (min-width: 51.875rem) {
  .blk-lead > div {
    max-width: 60vw;
  }
}

.blk-lead > div.big-lead {
  font-weight: 700;
  font-variation-settings: "wght" 700;
  font-size: 1.5625rem;
}

@media screen and (min-width: 62.5rem) {
  .blk-lead > div.big-lead {
    font-size: 2.1875rem;
  }
}

.blk-lead > div.small-lead {
  font-weight: 700;
  font-variation-settings: "wght" 700;
  font-size: 1.25rem;
  margin-top: 2rem;
}

@media screen and (min-width: 62.5rem) {
  .blk-lead > div.small-lead {
    font-size: 1.5625rem;
  }
}

.blk-lead > div p {
  margin-bottom: 2rem;
}

.single.big-lead {
  font-weight: 700;
  font-variation-settings: "wght" 700;
  font-size: 1.875rem;
}

@media screen and (min-width: 62.5rem) {
  .single.big-lead {
    font-size: 2.8125rem;
  }
}

/*

Used for Inspire Accueil block

*/
.article .image-container {
  aspect-ratio: 6 / 4;
}

.article .image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

article.article-learn .small-button {
  font-size: 1rem;
  margin-top: 1rem;
  display: inline-block;
  border: 2px solid;
}

#raw-content .informe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

#raw-content .informe div:first-child {
  align-self: flex-start;
}

#raw-content .informe .button-dot {
  max-width: 170px;
}

#raw-content .informe .button-dot:hover {
  color: #080636;
}

#raw-content .inspire {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #080636;
}

#raw-content .inspire div:first-child {
  align-self: flex-start;
}

#raw-content .inspire .button-dot {
  max-width: 170px;
}

/*

Style Archive Learn 

File structure :
------------------
A - Listing Archive 
------------------
B - Lsiting universal
------------------
C - Terms Listing (category)
------------------
D - Terms select (keywords)
------------------
E - Basic Listing (bloc members)


*/
.listing-archive {
  display: grid;
  justify-items: center;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 42.5rem) {
  .listing-archive {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 51.875rem) {
  .listing-archive {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 51.875rem) and (min-width: 62.5rem) {
  .listing-archive {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.listing-archive > .article {
  width: 100%;
}

.listing-universal {
  width: 100%;
  display: grid;
  justify-items: left;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  margin-left: 0;
  grid-column-gap: 2rem;
}

.listing-universal .article {
  display: grid;
  grid-template-columns: 25rem auto;
  grid-auto-rows: repeat(auto-fit, minmax(1px, 1fr));
  grid-column-gap: 2rem;
  justify-items: start;
  align-items: start;
  margin-bottom: 2rem;
}

.listing-universal .article .thumbnail {
  grid-column: 1;
  grid-row: 1 / 8;
  margin-bottom: 0;
}

.listing-universal .article > * {
  grid-column: 2;
}

.listing-universal .article .article-type {
  margin-top: 0;
}

.term-listing {
  text-align: left;
}

.term-listing > * {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 1rem;
}

.term-listing > *:first-child {
  margin-top: 0;
}

.term-listing > *:last-child {
  margin-right: 0;
}

.term-listing.margin-b {
  margin-bottom: 2rem;
}

#select-archive {
  height: 2rem;
  width: 100%;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  padding-bottom: 1px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

#select-archive option {
  color: #080636;
}

#select-archive-wrapper {
  font-weight: 1rem;
  font-variation-settings: "wght" 1rem;
  font-size: 400;
  font-family: "Stratos", Tahoma, "Arial", sans-serif;
  margin-bottom: 2rem;
  min-width: 16rem;
  height: 2rem;
  position: relative;
  padding: 0 1rem;
  border: 1px solid white;
  border-radius: 2rem;
}

#select-archive-wrapper::after {
  position: absolute;
  content: '↓';
  right: 1rem;
  top: 0.25em;
}

/* E - Basic Listing (bloc members)
.basic-listing > *{
    display: inline-block;
    margin-right: $column-gap;
    margin-bottom: 2rem;
    &:last-of-type {
        margin-right: 0;
    }
}
*/
.basic-listing-member,
.basic-listing-partner {
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  justify-content: start;
  align-content: start;
}

.basic-listing-partner {
  grid-template-columns: repeat(auto-fill, 7.5rem);
}

.basic-listing-member {
  grid-template-columns: repeat(auto-fill, 12.5rem);
}

/*

Style Archive Tools 

File structure :
------------------
1 - Image Thumbnail
------------------
2 - Article style
    2.1 Article Animation
    2.2 - Article tools
    2.3 - Article Learn
    2.4 - Article post

*/
.article {
  box-sizing: border-box;
  padding: 0.25rem;
  padding: 1rem;
  transition: background-color .2s;
  padding-bottom: 2rem;
  opacity: 0;
  -webkit-animation: .4s fadein 1 forwards;
  animation: .4s fadein 1 forwards;
}

@media screen and (min-width: 51.875rem) {
  .article {
    padding: 1.25rem;
  }
}

@media screen and (min-width: 51.875rem) and (min-width: 62.5rem) {
  .article {
    padding: 2rem;
  }
}

.article:hover, .article:focus, .article[focus-within] {
  background-color: #FF5018;
}

.article:hover, .article:focus, .article:focus-within {
  background-color: #FF5018;
}

.article:hover .link-discrete:hover,
.article:hover .link-discrete:focus, .article:focus .link-discrete:hover,
.article:focus .link-discrete:focus, .article[focus-within] .link-discrete:hover,
.article[focus-within] .link-discrete:focus {
  color: #fff;
  opacity: 0.75;
}

.article:hover .link-discrete:hover,
.article:hover .link-discrete:focus, .article:focus .link-discrete:hover,
.article:focus .link-discrete:focus, .article:focus-within .link-discrete:hover,
.article:focus-within .link-discrete:focus {
  color: #fff;
  opacity: 0.75;
}

.article:hover .button:hover,
.article:hover .button:focus, .article:focus .button:hover,
.article:focus .button:focus, .article[focus-within] .button:hover,
.article[focus-within] .button:focus {
  color: #080636;
}

.article:hover .button:hover,
.article:hover .button:focus, .article:focus .button:hover,
.article:focus .button:focus, .article:focus-within .button:hover,
.article:focus-within .button:focus {
  color: #080636;
}

.article:nth-child(2n+2) {
  animation-delay: .2s;
}

.article:nth-child(2n+2):hover, .article:nth-child(2n+2):focus, .article:nth-child(2n+2)[focus-within] {
  background-color: #0055ff;
}

.article:nth-child(2n+2):hover, .article:nth-child(2n+2):focus, .article:nth-child(2n+2):focus-within {
  background-color: #0055ff;
}

.article:nth-child(3n+3) {
  animation-delay: .4s;
}

.article:nth-child(3n+3):hover, .article:nth-child(3n+3):focus, .article:nth-child(3n+3)[focus-within] {
  background-color: #00c83c;
}

.article:nth-child(3n+3):hover, .article:nth-child(3n+3):focus, .article:nth-child(3n+3):focus-within {
  background-color: #00c83c;
}

.article:nth-child(4n+4):hover, .article:nth-child(4n+4):focus, .article:nth-child(4n+4)[focus-within] {
  background-color: #c814b4;
}

.article:nth-child(4n+4):hover, .article:nth-child(4n+4):focus, .article:nth-child(4n+4):focus-within {
  background-color: #c814b4;
}

.article:nth-child(5n+5):hover, .article:nth-child(5n+5):focus, .article:nth-child(5n+5)[focus-within] {
  background-color: #FFBD00;
}

.article:nth-child(5n+5):hover, .article:nth-child(5n+5):focus, .article:nth-child(5n+5):focus-within {
  background-color: #FFBD00;
}

.article:nth-child(6n+6):hover, .article:nth-child(6n+6):focus, .article:nth-child(6n+6)[focus-within] {
  background-color: #8200DC;
}

.article:nth-child(6n+6):hover, .article:nth-child(6n+6):focus, .article:nth-child(6n+6):focus-within {
  background-color: #8200DC;
}

.article > * {
  display: block;
}

.article .thumbnail {
  overflow: hidden;
  background-color: #080636;
  line-height: 0;
  margin-bottom: 2.5rem;
}

.article .thumbnail * {
  opacity: 1;
  transition: filter .2s;
}

.article .thumbnail:hover *, .article .thumbnail:focus *, .article .thumbnail:active * {
  filter: saturate(0);
}

.article > * {
  margin-bottom: 1em;
}

.article > *:last-child {
  margin-bottom: 0;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.list > * {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.list > *:last-child {
  margin-right: 0;
}

.article-info-list > * {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.article-info-list > *:last-child {
  margin-right: 0;
}

.term-listing .list > * {
  text-align: left;
  display: inline-block;
  margin-bottom: 1em;
}

.term-listing .list > *:last-child {
  margin-bottom: 0;
}

.article-type {
  position: relative;
  margin: 2rem 0 1.5em;
}

.article-type::after {
  position: absolute;
  left: 0;
  bottom: -1.5em;
  content: "········";
}

/* Editor stylesheet */
/*

Editor Stylesheet : Wordpress Administration style

*/
.wp-block,
.wp-block[data-align="wide"] {
  max-width: 90%;
}

.wp-block[data-align="full"] {
  max-width: 100%;
}
