/*

Style Breadcrumb [#nav-breadcrumb]

File Structure :

1 - Breadcrumb container
  1.2 - Breadcrumb list
  1.3 - Breadcrumb items
  1.4 - Breadcrumb link

*/

// 1 - Breadcrumb container
#nav-breadcrumbs {
  padding-top: 1rem;
  font-family: $font-title;
  position: relative;
  margin-bottom: 2rem;
  &::after {
    @include font(h3);
    position: absolute;
    left: 0;
    bottom: -2rem;
    content: "·········";
  }

  // 1.2 - Breadcrumb list
  #breadcrumbs {
    margin : 0;
    padding: 0; 
    list-style: none;

    // 1.3 - Breadcrumb items
    li {
      margin: 0;
      padding: 0;
      display: inline-block;
      margin-right: 2em;
      position: relative;
      @include small-text;

      // Create separation with ::after
      &::after {
          position: absolute;
          content:">";
          height: 100%;
          top: 0;
          right: -1.25em;
      }

      // last item has no separation
      &:last-child {
        &::after {
          display: none;
        }
      }

      // First link is underlined
      &:first-child > a{
        text-decoration: underline;
      }
    }

    // 1.4 - Breadcrumb link
    a {
      @include link-default;
      text-decoration: none;
    }
  }
}