/*

Style content [#content]

File structure :
------------------
1 - Wrapper settings
  1.1 : Wrapper
  1.2 : Narrow-wrapper
------------------
2 - Vertical Rythm (padding) 
  2.1 : Vertical Padding Regular
  2.2 : Vertical Padding Small
------------------
3 - Link style
  3.1 - Link-default
  3.2 - Link Primary
  3.3 - Button primary
  3.4 - Button ghost
  3.5 - Button cta
  3.6 - Social Icons
------------------
4 - Entry Content
  4.1 - Entry-content global
  4.2 - No useless margin
  4.3 - Entry-content blockquote
  4.4 - Entry-content : List style (ul + ol) 
  4.5 - Entry-content : List variant (ol only)
-------------------
5 - Video Container
  5.1 - Video thumbnail size
  5.2 - Video icon
  5.3 - Interactivity

*/

/* 1 - Wrapper settings
------------------ */

//1.1 : Wrapper (horizontal padding)
.wrapper,
.narrow-wrapper {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  > img,
  > picture {
    max-width: 100%;
    height: auto;
    margin: auto;
  }
}

.wrapper {
  @include spacing(padding-left, $wrapper-padding);
  @include spacing(padding-right, $wrapper-padding);
}

//1.2 : Narrow-wrapper
.narrow-wrapper {
  @include spacing(padding-left, $narrow-wrapper-padding);
  @include spacing(padding-right, $narrow-wrapper-padding);
}

/* 2 - Vertical Rythm 
------------------ */

//2.1 : Vertical Padding Regular
@mixin v-padding-regular {
  @include spacing( padding-top, $vertical-padding-regular );
  @include spacing( padding-bottom, $vertical-padding-regular );
}

.v-padding-regular {
  @include v-padding-regular;
}

//2.2 : Vertical Padding Small
@mixin v-padding-small {
  @include spacing( padding-top, $vertical-padding-small );
  @include spacing( padding-bottom, $vertical-padding-small);
}

.v-padding-small {
  @include v-padding-small;
}

/* 3 - Link
------------------ */

// 3.1 - Link-default (not for blue or red background)
@mixin link-default {
  transition: .2s all;
  color: inherit;
  &:link,
  &:visited {
      color: inherit;
      background-color: transparent;
  }
  &:hover,
  &:focus,
  &:focus-within {
      color: $brand-blue;
      //background-color: $white;
  }
  &:active {
      color: $brand-orange;
      //background-color: $white;
  }
}
.link-default {
  @include link-default;
}

// 3.2 - Link Primary
/*
@mixin link-primary {
  transition: .2s color;
  color: $color-primary;
  &:link,
  &:visited {
    color: $color-primary;
  }
  &:hover,
  &:focus,
  &:focus-within {
    color: darken($color-primary, 20);
  }
  &:active {
    color: $color-secondary;
  }
}
  a.link-primary {
    @include link-primary;
  }
*/

// 3.3 - Button
@mixin button {
  //@include link-default;
  color: inherit;
  font-family: $font-title;
  text-align: center;
  text-decoration: none;
  border: 1px solid currentColor;
  background-color: transparent;
  display: inline-block;
  border-radius: 1.5em;
  padding: 0.5em 1em;
  min-width: 4em;
  transition: all .2s;
  cursor: pointer;

  &:link,
  &:visited {
      color: inherit;
      background-color: transparent;
  }
  &:hover,
  &:focus {
      color: $brand-blue;
  }
  &:active {
      color: $brand-orange;
  }
  
  // Color variant 1 : orange
  &.button-color-bg {
    &:hover,
    &:focus {
        color: $brand-black;
    }
    &:active {
        color: $white;
    }
  }
}


// Interfere with Wordpress admin — bof bof
.button,
.button-dot {
  @include button;
}

.button-dot {
  border: 5px dotted currentColor;
  padding: 0.3em 1em;
  @include font(h3, bold);
}

.button {
  border: 1px solid currentColor;
  padding: 0.5em 1em;
}

// 3.4 - Button ghost
/*
@mixin button-ghost {
  text-decoration: none;
  color: inherit;
  border: 1px solid currentColor;
  background-color: transparent;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  min-width: 4rem;
  transition: all .2s;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $color-primary;
  }
}
.button-ghost {
  @include button-ghost;
}
*/

// 3.5 - Button cta
/*
@mixin button-cta {
  text-decoration: none;
  color: white;
  border: 1px solid $color-primary;
  background-color: $color-primary;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  min-width: 4rem;
  transition: all .2s;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: darken($color-primary, 10);
  }
  &:active {
    background-color: $color-secondary;
  }
}
.button-cta {
  @include button-cta;
}
*/

// 3.6 - Social Icons
// Used in footer and sticky-contents
@mixin link-icon {
  transition: background-color .2s;
  &:link,
  &:visited {
      background: transparent;
  }
  &:hover,
  &:focus {
      background: $color-primary;
  }
  &:active {
      background: $color-secondary;
  }
}

// 3.7 - Discrete-link
// Used in footer and sticky-contents
@mixin link-discrete {
  transition: all .2s;
  text-decoration: none;

  .white-bg {
    border: 2px solid transparent;
  }

  &:link,
  &:visited {
      color: inherit;
      background-color: transparent;
  }
  &:hover,
  &:focus {
      color: $brand-blue;
      //background-color: $white;
      background-color: transparent;
      .white-bg {
        border-color: $brand-blue;
      }
  }
  &:active {
      color: $brand-orange;
      //background-color: $white;
      background-color: transparent;
      .white-bg {
        border-color: $brand-orange;
      }
  }
}

.link-discrete {
  @include link-discrete;
}

/*
// White Link gets black on hover
@mixin link-white {
  transition: all .2s;
  text-decoration: none;
  background-color: transparent;

  &:link,
  &:visited {
      color: $white;
  }
  &:hover,
  &:focus,
  &:active {
    color: $brand-black;
  }
}

.link-white {
  @include link-white;
}
*/

/* 4 - Entry Content
----------------- */

// 4.1 - Entry-content global
@mixin entry-content {
  font-size: inherit;
  color: inherit;
  line-height: $lh-standard;
  @include no-useless-margin;
  
  a {
    @include link-default ;
  }

  blockquote {
    @include no-useless-margin;
  }

}


// 4.4 - Entry-content : List style (ul + ol) 
@mixin entry-content-list {
  margin: 2rem 0;
  padding: 0;
  li {
    margin-bottom: 0.5em;
    list-style: square inside;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// 4.5 - Entry-content : List varaint (ol only) 
@mixin entry-content-ol {
  li {
    list-style: decimal inside;
  }
}

ul, ol {
  @include entry-content-list;
  padding: 0;
  box-sizing: border-box;
}

ol {
  @include entry-content-ol;
}


.entry-content {
  @include entry-content;
}

// Fullscreen header

.fullscreen {
  min-height: 100vh;
  margin-top: -4rem; // equals #topbar-height
}