/*

/// Temporary style - Developpement purpose only ///
Give automatic style to help developpement

File structure :

1 - Section style
-----------------
2 - Article-style
-----------------
3 - Card style
-----------------
4 - Icon container
-----------------
5 - Colors
-----------------
6 - Classname color
  6.1 - Font color
  6.2 - Background-color
  6.3 - Text-align class
-----------------
7 - Form settings

*/


/* 1 - Section style
section {
    text-align: center;
    border: 2px solid $gray-light;

    // .Wrapper
    > div {
        text-align: left;

        // Block Content
        > * {
            margin-bottom: 2rem;
            
        }
        @include no-useless-margin;
    }
}

// 2 - Article-style
article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    //background-color: $gray-light;

    > * {
        display: inline-block;
        margin-bottom: 1rem;
    }
    @include no-useless-margin;

    > .link-default {
        text-decoration: none;
    }
}
*/


// 3 - Card style
// Used in block Gutenberg : source de l'article, téléchargement, lien externe

.card {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(4rem, auto) );
  border: 2px solid $gray-medium;
  grid-gap: 2rem;
  text-align: left;
  background: $white;
  border-radius: 4px;
  padding: 2rem;
  cursor: pointer;
  &:link {
    text-decoration: none;
  }
  
  /*
  .image-container {
    width: 12rem;
    height: 12rem;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid $gray-medium;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: auto;
    }
  }
  */

  > * {
    @include no-useless-margin;
    > p {
      display: inline-block;
    }
  }
}

// 4 - Icon container
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  overflow: hidden;
  border: 1px solid $gray-medium;
  background-color: $gray-light;
  img,
  picture {
    filter: invert(1);
    opacity: 0.75;
  }
}

// 5 - colors
$white :            #fff;
$gray-light :       #F3F5F7;
$gray-medium  :     rgb(128, 128, 128);
$gray-dark :        #5E6871;
$black :            #000;
$color-primary :    #1C72F2;
$color-secondary :  #F2994A;
$green :            #50D55D; // Used in form
$red :              #F91D5F; // Used in form


// 6 - Classname color
// 6.1 - Font color
.white {        color: $white;}
.gray-light {   color: $gray-light;}
.gray-medium {  color: $gray-medium;}
.gray-dark {    color: $gray-dark;}
.black {        color: $black;}
//.primary {      color: $color-primary;}
.secondary {    color: $color-secondary;}
.green {        color: $green;}

// 6.2 - Background-color

.gray-light-bg {   background-color: $gray-light;}
.gray-medium-bg {  background-color: $gray-medium;}
.gray-dark-bg {    background-color: $gray-dark;}
.black-bg {        background-color: $black;}
.primary-bg {      background-color: $color-primary;}
.secondary-bg {    background-color: $color-secondary;}

// 6.3 - Text-align class
.center {   text-align: center;}
.left {     text-align: left; }
.right {    text-align: right; }
.underline {    text-decoration: underline;}

// 7 - Form settings
form {
    width: 100%;
    max-width: 600px;
    grid-gap: 1rem;
    margin: auto;
    display: grid;
}