/*

Style Footer [footer.php]

File structure :
------------------
1 - Footer layout
    1.1 Layout Mobile
    1.2 Layout Desktop
------------------
2 - Logo + social
    2.1 - Logo
    2.2 - Social Icons
------------------
3 - Custom Menu
    3.1 Links Listing
------------------
4 - Content


*/

/*1 - Footer layout
------------------ */
#footer {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    // Standard style
    color: $brand-black;
        background: $white; 

    // Variant style
    &.brand-black-bg {
        color: $white;
        background: $brand-black;   
    }

    // Desktop Layout
    @media screen and (min-width: $desktop_width) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: $column-gap;
    }

    // 1.1 - Social Links
    #footer-social {

        // Mobile Layout
        @media screen and (max-width: $desktop_width) {
            margin-bottom: 2rem;
        }

        a { 
            @include link-discrete;
            display: inline-block;
            margin-right: 1.5rem;
            width: auto;
            height: auto;
            &:last-of-type {
                margin-right: 0;
            }
        }

        #footer-copyright {
            margin-top: 0.25rem;
            display: block;
        }
    }

    // Links style
    a {
        @include link-default;
    }

    // Reset paragraph
    p {
        margin: 0;
    }

    #footer-content {
        p:not(:first-of-type) {
            margin-top: 0.5em;
        }
    }
}