/*

Style Topbar [header.php]

File structure :
------------------
1 - Topbar settings
------------------
2 - Mobile Menu
    2.1 : Menu Layout : hidden
    2.2. Menu layout : visible
    2.3 : Links Style
    2.4 : Close button
    2.5 : Burger button
------------------
3 - Menu Desktop
  3.1 - Menu Layout
  3.2 - Links style
------------------
4 - x

*/


/* 1 - Topbar settings
------------------ */

#topbar {
    width: 100%;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index : $index-navigation;

    // 1.1 - Topbar Style
    background: $white;
    color: $black;
    @include spacing (padding-left, $wrapper-padding);
    @include spacing (padding-right, $wrapper-padding);
    padding-top: 1rem;
    padding-bottom: 1rem;

    // 1.2 - logo Style
    #topbar-logo {
        * {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            height: 2rem;
            width: auto;
        }
    }

    // 1.3 - Links style
    ul.primary {
        list-style: none;
        margin: 0;
        padding: 0;
        font-family: $font-title;
        li {
            list-style: none;
            padding: 0.5em 1em 0.5em 2em;
            position: relative;
            border: 1px solid transparent;
            border-radius: 1.5rem;
            &::before {
                width: 0.75rem;
                text-align: right;
                font-size: inherit;
                position: absolute;
                left: 0.5em;
                top: 0.5em;
                font-family: $font-icon;
                content:"!";
            }

            &.current-menu-item {
                border-color: $brand-black;
            }
        }
        /* Links icon (Font Stratus) */
        li:nth-of-type(2)::before {
            content:"/";
        }
        li:nth-of-type(3)::before {
            content:"=";
        }
        li:nth-of-type(4)::before {
            content:"o";
        }
        li:nth-of-type(5)::before {
            content:"%";
        }
        li:nth-of-type(6)::before {
            content:"+";
        }
    }

    a {
        //@include link-default;
        @include link-discrete;
    }



    /* 2 -  Mobile Menu
    ------------------ */
    @media screen and (max-width: $tablet-width - 0.01rem) {

        // 2.1 : Menu Layout : hidden
        #menu {
            #close-menu,
            ul.primary {
                position: fixed;
                top: 0;
                left: 50%;
                width: 100%;
                max-width: 100vw;
                transform: translate(50%, 0%);
                opacity: 0.5;
                color: $white;
                background: $brand-blue;
                transition: all 0.4s;
                margin: 0;
            }   

            // 2.2. Menu layout : visible
            &:focus,
            &.menu-open {
                overflow: visible;
                #close-menu,
                ul.primary {
                    opacity: 1;
                    transform: translate(-50%, 0%);
                }
            } 

            // 2.3 : Links Style
            ul.primary {
                // Layout
                top: 10vh;
                height: 90vh;
                overflow-y: scroll;
                &:focus,
                &:focus-within {
                    opacity: 1;
                    transform: translate(-50%, 0%);
                }
                // Style
                @include spacing(padding, $wrapper-padding);
                box-sizing: border-box;
                li {                    
                    margin-bottom: 1rem;
                    font-size: 2rem;
                    a {
                        &:hover,
                        &:focus {
                            color: $brand-black;
                        }
                        &:active {
                            color: $white;
                        }
                    }
                }
            }
            
            // 2.4 : Close button
            #close-menu {
                height: 10vh;
                text-align: center;

                // Style
                > button {
                    height: 100%;
                    vertical-align: middle;
                    display: inline;
                    line-height: 0;
                    //height: 2.25rem;
                    //width: 2.25rem;
                    border-radius: 50%;
                    &:hover,
                    &:focus {
                        > * {
                            background-color : $brand-black;
                        }
                    }
                    &:active {
                        > * {
                            background-color : $brand-orange;
                        }
                        
                    }
                    > * {
                        object-fit: contain;
                        margin: 0;
                        //padding: 0.25rem;
                        height: 2.25rem;
                        width: 2.25rem;
                        border-radius: 50%;
                        transition: background-color .2s;
                    }
                }
            }

            // 2.5 : Burger button
            #burger-menu {
                transition: all .2s;
                padding: 0.35rem 0.25rem;
                line-height: 0;
                
                &:hover {
                    background-color : $brand-blue;
                    img {
                        filter: invert(1);
                    }
                }
                &:active,
                &:focus {
                    background-color : $brand-orange;
                    img {
                        filter: invert(1);
                    }
                }
                > img,
                > picture {
                    width: 100%;
                    height: auto;
                    margin: 0;
                }
            }
        }
    }

    /* 3 - Menu Desktop
    ------------------ */

    @media screen and (min-width: $tablet-width) {
        // 3.1 - Menu Layout
        ul.primary {
            > li {
                display: inline-block;
                margin-left: 2rem;
            }
        }
        // 3.2 - Links style
    }
}

#content {
    padding-top: 4rem; // equals topbar-height;
}