$custom-color: inherit; // Default value

@mixin custom-color-rules($custom-color) {
    #post-content .blk-lead,
    .custom-color {
        color: $custom-color;
        /*
        .button-type {
            color: $default-text-color;
        }
        */
    }

    .custom-color-bg,
    //.blk-text-img:nth-of-type(odd),
    #raw-content .blk-lead {
        background-color: $custom-color;
        .custom-color {
            color: $default-text-color;
        }

        //* Link gets black, so accessibility is always good */
        a:hover,
        a:focus {
            color: $brand-black;
        }
    }

    .title-custom-color h1,
    .title-custom-color h2,
    .title-custom-color h3,
    .title-custom-color h4,
    .title-custom-color h5,
    .title-custom-color h6,
    .title-custom-color blockquote {
        color: $custom-color;
    }
}

#has-random-color {
    &.random-blue {
        @include custom-color-rules($brand-blue);
        a:hover,
        a:focus {
            color: $white;
        }
    }
    &.random-orange {
        @include custom-color-rules($brand-orange);
    }
    &.random-pink {
        @include custom-color-rules($brand-pink);
    }
    &.random-violet {
        @include custom-color-rules($brand-violet);
    }
    &.random-green {
        @include custom-color-rules($brand-green);
    }
    &.random-yellow {
        @include custom-color-rules($brand-yellow);
    }
}
