@mixin icon_style {
    font-style:  normal;
    font-weight: 700;
    src: url("./font/stratus.otf") format("opentype");
}

.icon_style_1 span {
    font-family: 'Icon Style 1', $font-title;
}

.icon_style_2 span {
    font-family: 'Icon Style 2', $font-title;
}

.icon_style_3 span {
    font-family: 'Icon Style 3', $font-title;
}

.icon_style_4 span {
    font-family: 'Icon Style 4', $font-title;
}

.icon_style_5 span {
    font-family: 'Icon Style 5', $font-title;
}

/*
5 Styles typographiques : 

icon_style_1 : Style 1 (lettres modifiées : vdnlïê)
icon_style_2 : Style 2 (lettres modifiées : opgèâ)
icon_style_3 : Style 3 (lettres modifiées : rxcjyî)
icon_style_4 : Style 4 (lettres modifiées : qhbmô)
icon_style_5 : Style 5 (lettres modifiées : uéfzw)

*/
    @font-face {
        font-family: 'Icon Style 1';
        @include icon_style;
        unicode-range: U+0076, U+0064, U+006E, U+006C, U+00EF, U+00EA ; // vdnlïê
    }

    @font-face {
        font-family: 'Icon Style 2';
        @include icon_style;
        unicode-range: U+006F, U+0070, U+0067, U+00E8, U+00E2 ; // opgèâ
    }

    @font-face {
        font-family: 'Icon Style 3';
        @include icon_style;
        unicode-range: U+0072, U+0078, U+0063, U+006A, U+0079, U+00EE ; // rxcjyî
    }

    @font-face {
        font-family: 'Icon Style 4';
        @include icon_style;
        unicode-range: U+0071, U+0068, U+0062, U+006D, U+00F4 ; // qhbmô
    }

    @font-face {
        font-family: 'Icon Style 5';
        @include icon_style;
        unicode-range: U+0075, U+00E9, U+0066, U+007A, U+0077 ; // uéfzw
    }