/*

Style Form components
! This style doesn't apply to Worpess Admin (see style-editor.scss) !

File structure :
------------------
1 - Copier-coller url d'un article
------------------
2 - Input Style
    2.1 - Submit
    2.2 - Checkbox (RGPD)
    2.3 - Message de validation

*/

// 1 - Copier-coller url d'un article
.copyLink {
    position: relative;
    cursor: pointer;
    
    // 1.1 - Input caché
    input.copyLinkValue {
        position: absolute;
        left: -200%;
        left: -200vw;
        opacity: 0;
    }

    // 1.2 - Message de validation "Lien copié!"
    .copyLinkMessage {
        opacity: 0.5;
        background-color: $brand-blue;
        color: white;
        text-align: left;
        padding: 1rem;
        position: absolute;
        left: 0;
        bottom: -5rem;
        width: auto;
        display: none;
        line-height: 1;
        @media screen and (min-width: $tablet_width) {
            width: 20rem;
            text-align: center;
            left: -24rem;
            top: -0.5rem;
            bottom: unset;
        }

        // Blue Triangle
        &::before {
            display: inherit;
            opacity: inherit;
            position: absolute;
            top: -1rem;
            left: 4rem;
            margin-left: -1rem;
            content: "";
            width: 0; 
            height: 0;
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            border-bottom: 1rem solid $brand-blue;
            animation: inherit;
            @media screen and (min-width: $tablet_width) {
                left: unset;
                right: -1.5rem;
                top: 0.5rem;
                border-top: 1rem solid transparent;
                border-bottom: 1rem solid transparent;
                border-left: 1rem solid $brand-blue;
            }
        }
    }

    // Animation : le message apparait
    &.active {
        .copyLinkMessage {
            display: block;
            opacity: 1;
            -webkit-animation: 0.2s fade_out forwards;
            animation: 0.2s fade_out forwards;
            animation-iteration-count: 1;
            animation-delay: 4s;
        }
    }
}