

/*

Custom Checkbox style.

Structure :

<div class="custom-radio-button">
  <input type="radio" class="input-radio-button">
  <label class="custom-radio-label"></label>
</div>
*/

// Radio button container
.custom-radio-button {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    transition: all .2s;
    margin-bottom: 0.5rem;
}

// 1.2 - Radio-button input (hidden)
.input-radio-button {
    transition: inherit;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; // Input hidden but still accessible
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin: 0;
    background: blue;
}

// 1.2- Radio-button Label
.custom-radio-label {
    transition: inherit;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: $default-text-color;
    border: 2px solid currentColor;
    box-shadow: none;
    border-radius: 1.5em;
    padding: 0.5em 1.5rem;
    box-sizing: border-box;

    // 1.4 - Icon (hidden when not checked)
    &::before {
        content: "";
        display: none;
        float: right;
        vertical-align: middle;
        //margin-right: 0.25rem;
        margin-top: 0.25em;
        width: 0.25rem;
        height: 0.5rem;
        border: solid $brand-blue;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

}


// Animation
// 1.5 - Animation
.custom-radio-label:hover,
.input-radio-button:hover ~ .custom-radio-label {
    background-color: $brand-blue;
    border-color: $white;
}

.custom-radio-button .custom-radio-label
.custom-radio-label:focus,
.input-radio-button:focus ~ .custom-radio-label  {
    background-color: $brand-blue;
    border-color: $white;
}

// When the radio-button is checked, add a white background
.input-radio-button:checked ~ .custom-radio-label {
    background-color: $white;
    border-color: $white;
    color: $brand-black;
    &::before {
        display: block;
    }
}