

/*

Custom Checkbox style.

Structure :

<input class="custom-checkbox">
<label>
    <span class="checkmark"></span>
    <p>Lorem ispum</p>
</label>

*/

// 1.2 - Checkbox input (hidden)
input[type="checkbox"].custom-checkbox {
    opacity: 0; // Input hidden but still accessible
    width: 1.5rem;
    height: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin: 0;
}


// 1.2- Checkbox Label
.checkbox-label {
    margin-left: 0;
    padding-left: 2rem;
    //margin-top: -1.5rem;
    margin-top: 0;
    position: relative;
    cursor: pointer;

    // 1.3 - Custom Checkbox 
    .checkmark {
        opacity: 1;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        border: 2px solid $white;
        transition: .2s all;

        // 1.4 - Icon (hidden when not checked)
        &::after {
            content: "";
            display: none;
            margin-left: 0.25rem;
            margin-top: 0.1rem;
            width: 0.25rem;
            height: 0.5rem;
            border: solid $brand-blue;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

// Animation
// 1.5 - Animation
.checkmark:hover,
.custom-checkbox:hover ~ .checkbox-label .checkmark {
    background-color: $brand-blue;
    border-color: $white;
}

.custom-checkbox:focus ~ .checkbox-label .checkmark ,
.checkbox-label:focus .checkbox-label ,
.checkmark:focus {
    background-color: $white;
    border-color: $brand-blue;
}

// When the checkbox is checked, add a blue background
.custom-checkbox:checked ~ .checkbox-label .checkmark {
    background-color: $white;
    border-color: white;
    &::after {
        display: block;
    }
}

/*
input:invalid ~ .checkbox-label .checkmark  {
    border-color: $red;
}
*/