/*

Style Form components
! This style doesn't apply to Worpess Admin (see style-editor.scss) !

File structure :
------------------
1 - Form Layout
------------------
2 - Input Style
    2.1 - Submit
    2.2 - Checkbox (RGPD)
    2.3 - Message de validation

*/

div[role="form"] {
    padding-top: 2rem;
    @media screen and (max-width: $mobile-width) {
        max-width: 90%;
        margin: 0 auto;
    }
    label,
    p {
        font-weight: 700;
        font-variation-settings: "wght" 700;
        font-size: 1.125rem;
        font-family: "Stratos", Tahoma, "Arial", sans-serif;
    }
    label {
        padding-left: 1.5rem;
    }
    input,
    textarea {
        margin-top: 1rem;
    }
    form {
        p {
            span.privacyPolice {
                span {
                    margin: 0;
                }
                label {
                    padding-left: 0;
                }
            }
        }
        p:nth-last-child(2) {
            text-align: center;
            position: relative;
        }
    }
    .ajax-loader {
        position: absolute;
        bottom: -34px;
        left: 50%;
        margin: 0;
        transform: translate(-50%);
    }
}

// 1 - form Layout
form {
    width: 100%;
    max-width: pixel(420);
    //@include spacing(padding, $wrapper-padding);
    grid-gap: 0.5rem;
    margin: auto;
    display: grid;

    > #ResponseAnchor {
        display: block;
        text-align: center;
    }

    > label,
    .label-like {
        @include font(h4, bold);
        font-family: $font-title;
        margin-top: 1rem;
        margin-left: 1.5rem;
    }

    .margin-t {
        margin-top: 3rem;
    }
}

// 2 - Input Style
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    @include font(body, regular);
    background-color: transparent;
    outline: none;
    color: $default-text-color;
    border: 2px solid currentColor;
    box-shadow: none;
    border-radius: 1.5em;
    padding: 0.5em 1.5rem;
    //width: 100%;
    box-sizing: border-box;
    transition: all 0.2s;

    &::placeholder {
        //color: $gray-dark;
        color: $default-text-color;
        opacity: 0.5;
        transition: all 0.2s;
    }
    &:not(:placeholder-shown) {
        //background-color : $white;
        &:invalid {
            color: $red;
            border-color: $red;
        }
        &:not(:invalid) {
            //color: $green;
            border-color: $green;
        }
    }
    /*
    &:invalid {
        &:not(:focus),
        &:not(:placeholder)  {
            color: $red;
            border-color: $red;
        }
    }
    */
    &:hover {
        border-color: darken($color-primary, 20);
    }
    &:focus {
        //background-color: $white;
        //color: $black;
        border-color: $brand-blue;
        &::placeholder {
            //color: $black;
            opacity: 0.25;
        }
    }
}

/* 2.1 - Submit
    input[type="submit"] {
        margin-top: 2rem;
        //@include button-cta;
        border: none;
        outline: none;
        border: none;
        box-shadow: none;
        margin-left: auto;
        margin-right: auto;
    }
    */

// 2.2 - Checkbox (RGPD)
.checkbox {
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;
    align-items: flex-start;
    margin-top: 2rem;
    > label {
        margin-top: 0;
        margin-left: 2rem;
    }
}

#ResponseMessage {
    opacity: 0;
    transition: opacity 0.2s;
    // Message has been sent : #responseMessage is visible
    &.showResponseMessage {
        opacity: 1;
        transition-delay: 0.5s;
    }
}

#sendMessage {
    opacity: 1;
    &.hiddenSubmitButton {
        opacity: 0;
        transition: opacity 0.2s;
        cursor: none;
    }
}

#contactForm {
    opacity: 1;
    transition: opacity 0.2s;
    &.hideForm {
        opacity: 0.25;
    }
}
