#scroll-header {

    box-sizing: border-box;
    width: 100%;

    > h1 {
        margin: 2rem 0 1rem;
    }
    
    width: 75vw;
    margin-left: 0;
    @media screen and (min-width: $desktop_width) {
        padding-right: 5rem;
    }
}

#scroll-content {
    box-sizing: border-box;

    @media screen and (min-width: $tablet_width) {

        position: relative;
        //padding-top: 6rem;
        padding-top: 0;

        #post-content {
            margin-left: 0;
            box-sizing: border-box;
            width: 75vw;
            @media screen and (min-width: $desktop_width) {
                padding-right: 5rem;
            }
        }

        #sticky-content {
            width: 25vw;
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 5rem; // transition to .sticky
            padding-bottom: 5rem; // Transition to .sticky-finish

            // Gets sticky with Javascript scroll (see sticky-post.js)
            &.sticky {
                position: fixed;
                top: 5rem;
                margin-top: 0; // transition
                &.sticky-finish {
                    padding-bottom: 0;
                    position: absolute;
                    top: unset;
                    bottom: 0;
                    padding-bottom: 0; // transiton
                }
            }
        }
    }
}

.sticky-content {
    text-align: left;
    > * {
        display: inline-block;
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
    } 
}

.copyLink,
.JSrslink {
    text-decoration: underline;
    font-family: $font-title;
    line-height: $lh-small;
    transition: .2s all;
    color: $white;
    &:link,
    &:visited {
        color: $white;
    }
    &:hover,
    &:focus,
    &:focus-within {
        color: $brand-blue;
    }
    &:active {
        color: $brand-orange;
    }
    @media screen and (min-width: $tablet_width) {
        p {
            margin-bottom: 0.5rem;
        }
    }
}