.no-breadcrumb {
    padding-top: 3rem;
}

#two-columns-layout {
    @media screen and (min-width: $tablet_width) {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: $column-gap;
        justify-items: start;
        align-items: start;
        
        @media screen and (min-width: $desktop_width) {
            grid-column-gap: 5rem
        }
    }

    #column-left {
        margin-top: 0;
        padding-bottom: 6rem;
    }
    #column-right {
        margin-top: 4rem;
        @media screen and (max-width: $tablet_width) {
            padding-bottom: 3rem;
        }
        /*
        @media screen and (min-width: $desktop_width) {
            margin-top: 3rem;
        }*/
    }
}

.cat-title * {
    display: inline-block;
    margin-top: 0;
}
.cat-title p {
    margin-right: 1em;
}