/*

Gutenberg Core blocks

File structure :
------------------
0 - Select Core Blosks 
------------------
1 - Text
    1.1 - Paragraph
    1.2 - Title
    1.3 - List
    1.4 - Blockquote
------------------
2 - Picture
    2.1 - Image
    2.2 - Figure

*/

@mixin standard-title {
    margin-top: 4rem;
}

// 0 - Select Core Blocks
// We select elements placed directly in the page content
#raw-content,
#post-content {

    box-sizing: border-box;

    >*:not(section) {
        margin-bottom: 2rem;
        margin-top: 0;
    }
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6, {
        @include standard-title;
    }

    >.entry-content h1,
    >.entry-content h2,
    >.entry-content h3,
    >.entry-content h4,
    >.entry-content h5,
    >.entry-content h6 {
        @include standard-title;
    }

    /* 2 - Picture
    ------------------*/

    //2.2 - Figure
    > figure {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        //@include wrapper;
        @include v-padding-regular;
        > * {
            max-width: 100%;
            height: auto;
            //@include blocked-wrapper;
        }
        > figcaption {
            margin-top: 2rem;
            text-align: center;
        }
    }

    /* Link
    a {
        @include link-default;
    }
    */
}

#post-content {
    > h2,
    >.entry-content h2 {
        position: relative;
        margin-top: 5.5rem;
        &::before {
            position: absolute;
            left: 0;
            top: -1em;
            content:"· · · · · · · · · · · · ·";
        }
    }
}

#post-content > .wrapper, 
#post-content > .narrow-wrapper{
    padding-left: 0;
    padding-right: 0;
}

// 1.4 - Blockquote
blockquote {
    position: relative;
    margin: 5.5rem 0;

    &::before,
    &::after {
        content:"· · · · · · · · · · · · ·";
        position: absolute;
    }
    &::before {
        left: 0;
        top: -1em;
    }
    &:after {
        position: absolute;
        left: 0;
        bottom: -1em;
    }

    > * {
        padding: 1rem 0;
    }
}