/*

Style Gutenberg Block Event [evenement.php]

File structure :
------------------
1 - Bloc layout
    1.1 - All children
    1.2 - Time
    1.3 - Button
------------------
2 - Layout Variant : image

*/

// 1 - Bloc layout
.blk-event {

    // 1 - Layout Basic : no image
    &:not(.has-image) {

        display: grid;
        align-items: start;
        justify-items: left;
        grid-template-rows: auto;
        grid-gap: $column-gap;

        // Mobile
        grid-template-columns: 1fr;
        // Tablet
        @media screen and (min-width: $tablet_width) {
            grid-template-columns: 1fr 1fr;
            // Desktop
            @media screen and (min-width: $desktop_width) {
                grid-template-columns: 2fr 3fr;
                // Huge
                @media screen and (min-width: $desktop_width) {
                    grid-template-columns: 4fr 1fr 8fr;
                }
            }

            > * {
                grid-column: 2 / 3;
                @media screen and (min-width: $desktop_width) {
                    grid-column: 3 / 4;
                }
            }
            > h3,
            > a {
                grid-column: 1 / 2;
            }

            > h3 {
                grid-row: 1;
            }


            > a {
                grid-row: 2;
            }
        }
    }

        // 1.1 - Titles
        h3,
        h2 {
            margin-top: 0;
            margin-bottom: 2.5rem;
        }

        // 1.2 - Time
        .event-info {
            > .brd-btm-dot {
                margin-bottom: 1.5rem;
                padding-bottom: 0;
                display: inline-block;
                > * {
                    display: inline;
                }
            }
            
            time {
                font-weight: bold;
            }
        }

    // 2 - Layout Variant : image
    &.has-image {
        display: grid;
        justify-items: left;
        grid-template-columns: 1fr;
        @media screen and (min-width: $tablet_width) {
            grid-column-gap: 8rem;
            grid-template-columns: 1fr 1fr;
        }

        // 1.3 - Button
        .button-dot {
            margin-top: 2rem;
        }
    }

    .image-container {
        @media screen and (max-width: $tablet_width) {
            margin-bottom: 2rem;
        }
    }
}