/*



// Card style
// Used in block Gutenberg : source de l'article, téléchargement, lien externe

*/
.card {
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 3rem 1rem;
  text-align: left;
  cursor: pointer;
  overflow: hidden;

   // All direct child have a margin, except the last one
  > *,
  h2 {
    max-width: 95%;
    margin-top: 0;
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Create lines inside card
  .line {
    display: flex;
    flex-flow: row nowrap;
    h2 {
      display: inline-block;
      word-break: break-word;
    }
  }

  // Icon container
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    overflow: hidden;
    margin-right: 0.5em;
    img,
    picture {
      filter: unset;
    }
  }

  // Hide too long url (for lien-externe.phph & source-aticle.php
  .card-url {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
    text-overflow:' … ';
    height: 1.5em;
    line-height: 1;
    max-width: 100%;
  }

  // Image in source-article.php
  .image-source {
    width: 100%;
    max-width: pixel(300);
    margin-right: 2rem;
  }
}

// Block Source (introduction text)
.blk-source i {
  margin-bottom: 1rem;
}


/* 7 - Form settings
form {
    width: 100%;
    max-width: 600px;
    grid-gap: 1rem;
    margin: auto;
    display: grid;
}
*/