/*

Style Gutenberg Block Header Home [bloc-accueil.php]

*/

#blk-header-home {
    @media screen and (max-width: 1277px) {
        justify-content: center;
        .video_zone {
            margin-top: 2rem;
        }
    }
    @media screen and (max-width: $mobile-width) {
        padding: 1rem;
    }
    //background: $brand-violet;
    //min-height: 80vh;
    padding: 10rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    .video_zone {
        max-width: 650px;
        width: 100%;
        height: 100%;
        margin-right: 2rem;
        @media screen and(max-width:1460px) {
            max-width: 550px;
            margin-right: 0;
        }
        .video-container {
            max-height: fit-content;
            aspect-ratio: 6/4;
            a {
                height: 100%;
                img {
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
    }
    .logo_text {
        margin-left: 2rem;
        max-width: 600px;
        @media screen and(max-width:1460px) {
            margin: 0;
        }
        .text_zone {
            h2 {
                color: #fff;
                font-size: 3rem;
                text-align: start;
                max-width: 550px;
                margin: 0;
                @media screen and(max-width:1460px) {
                    font-size: 2.5rem;
                }
                @media screen and (max-width: $tablet-width) {
                    font-size: 1.5rem;
                }
            }
        }
    }
    #logo-home {
        margin: 0;
        height: auto;
        max-width: 600px;
        animation: stay 1s;
        transition: all 0.4s;
        position: relative;
        will-change: transform;
        @media screen and(max-width:1460px) {
            max-width: 500px;
        }

        @media screen and (max-width: $tablet-width) {
            min-width: 0;
            width: 100%;
        }
        img,
        picture {
            width: 100%;
            height: auto;
        }

        &.active {
            transform: scale(1.05);
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}

/* Animation */

/* "La Fabrique des" is alaways visible*/
#slide0,
#slide1,
#slide2,
#slide3,
#slide4,
#slide5,
#slide6,
#slide7,
#slide8,
#slide9 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    &.active {
        opacity: 1;
    }
}

@-webkit-keyframes stay {
    from {
        transform: scale(0.95);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes stay {
    from {
        transform: scale(0.95);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
