/*

Used for Inspire Accueil block

*/
.article {
    .image-container {
        aspect-ratio: 6 / 4;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

article.article-learn {
    .small-button {
        font-size: 1rem;
        margin-top: 1rem;
        display: inline-block;
        border: 2px solid;
    }
}
#raw-content {
    .informe {
        div:first-child {
            align-self: flex-start;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $white;
        .button-dot {
            &:hover {
                color: $brand-black;
            }
            max-width: 170px;
        }
    }
    .inspire {
        div:first-child {
            align-self: flex-start;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $brand-black;
        .button-dot {
            max-width: 170px;
        }
    }
}
