#raw-content .blk-lead {
    @include spacing(padding-left, $wrapper-padding);
    @include spacing(padding-right, $wrapper-padding);
    margin-bottom: 2rem;
    padding-bottom: 10rem;
}

.blk-lead > div {
    font-family: $font-title;
    line-height: $lh-small;
    @media screen and (min-width: $tablet_width) {
        max-width: 60vw;
    }
    &.big-lead {
        @include font(lead, bold);
    }
    &.small-lead {
        @include font(h3, bold);
        margin-top: 2rem;
    }

    p {
        margin-bottom: 2rem;
    }
}

// Bigger font-size on article
.single.big-lead {
    @include font(h1, bold);
}