/*

Style Gutenberg Block Learn [accueil-se-former.php]

File structure :
------------------
1 - Bloc layout
    1.1 - wrapper 1
    1.2 - wrapper 2

*/

.blk-learn {
    // 1 - Layout standard : no image
    &:not(.has-image) {
        > * {
            max-width: pixel(800);
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        h2,
        .entry-content {
            margin-bottom: 3rem;
        }

        .button-dot {
            display: table;
            margin-top: 3rem;
        }
    }

    // 2 - Layout Variant : image
    &.has-image {
        display: grid;
        grid-auto-rows: minmax(1rem, auto);
        @include spacing(grid-row-gap, $vertical-padding-regular);
        // 2.1 - Mobile Layout
        grid-template-areas:
            "image"
            "title"
            "text"
            "list"
            "link";

        //2.2 - Tablet Layout
        @media screen and (min-width: $mobile_width) {
            grid-gap: $column-gap;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "image  image"
                "title  title"
                "text   text"
                "link   list";

            // 2.3 - Desktop Layout
            @media screen and (min-width: $tablet_width) {
                grid-template-columns: 1fr 2fr;
                grid-template-areas:
                    "image  title"
                    "image  text"
                    "link   list";

                // 2.4 - Huge Layout
                @media screen and (min-width: $desktop_width) {
                    // Block Layout
                    grid-template-columns: 4fr 1fr 8fr;
                    grid-template-areas:
                        "image . title"
                        "image . text"
                        "link  . list";
                }
            }
        }

        .image-container {
            grid-area: image;
            max-width: pixel(260);
            @media screen and (min-width: $tablet_width) {
                justify-self: center;
                text-align: center;
            }
        }

        h2 {
            grid-area: title;
            margin: 0;
        }

        .entry-content {
            grid-area: text;
        }

        nav {
            grid-area: list;
        }

        .button-dot {
            grid-area: link;
            justify-self: left;
            align-self: start;
            @media screen and (min-width: $tablet_width) {
                justify-self: center;
            }
        }
    }

    // Default nav style
    nav {
        text-align: left;
        display: flex;
        flex-flow: column;
        align-items: start;
        @media screen and (min-width: $tablet_width) {
            display: grid;
            grid-column-gap: $column-gap;
            grid-template-columns: auto 1fr;
            justify-items: start;

            a:nth-child(1),
            a:nth-child(2) {
                margin-top: 0;
            }
        }
    }
}
