/*

Style Gutenberg Block Partner [partenaire.php]

File structure :
------------------
1 - Bloc layout
    1.1 - Listing
    1.2 - Single Partner
*/

// 1 - Bloc layout
// Blocs "Members" and "partners" are identic
.blk-member,
.blk-partner {

    @include spacing(padding-top, $vertical-padding-regular);
    @include spacing(padding-bottom, $vertical-padding-regular);

    h2,
    .text-container,
    .entry-content  {
        margin-bottom: 2rem;
    }

    &.has-title {
        @media screen and (min-width: $desktop-width) {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-areas:    
                "title  list"
                "text   list"
                ".      list";
            display: grid;
            grid-gap: $column-gap;
            justify-items: left;
            align-items: start;
            
    
            h2 {
                grid-area: title;
            }
            .responsive-text-container {
                grid-area: text;
            }

            h2,
            .responsive-text-container {
                margin-bottom: 0;
            }
            
            .basic-listing-member,
            .basic-listing-partner {
                grid-area: list;
            }
        }
    }

    .button-dot:not(:first-child) {
        margin-top: 2rem;
        @media screen and (min-width: $mobile-width) and (max-width: $desktop-width) {
            margin-top: 0;
            margin-left: 2rem; 
        }
    }

}

// If block members + bloc partner, padding-top is smaller :
.blk-member + .blk-partner,
.blk-partner + .blk-member {
    @include spacing(padding-top, $vertical-padding-small);
}

// 1.1 - Single Member
.member-single {
    text-align: left;
    //max-width: pixel(200);

    .member-thumbnail {
        border: 1px solid $brand-blue;
        line-height: 0;
        margin-bottom: 1rem;
        //background-color: $brand-blue;
        img,
        picture {
            filter: saturate(0);
            mix-blend-mode: screen;
        }
    }

    h3,
    p {
        margin: 0;
    }

    .member-name {
        font-family: $font-text;
        @include font(text, bold);
        margin-bottom: 0.5em;
    }
}