/*

Style Gutenberg Block Partner [partenaire.php]

File structure :
------------------
1 - Bloc layout
    1.1 - Listing
    1.2 - Single Partner
*/

// 1 - Bloc layout

// 1.2 - Single Partner
.partner-single {
    background: $gray-light;
    padding: 0;
    line-height: 0;

    // Link behaviour
    a {
        //line-height: 1.2;
        transition: opacity .2s;
        text-decoration: none;
        &:link,
        &:visited {
            opacity: 1;
        }
        &:hover,
        &:focus,
        &:active {
            opacity: 0.5;
        }
    }

    // Image behaviour
    img,
    picture {
        text-align: center;
        vertical-align: middle;
        filter: none;
    }
}