/*

Style Gutenberg Block Text [texte.php]

File structure :
------------------
1 - Bloc layout

*/

// 1 - Standard Layout : Title + texte + link
.blk-text-yellow {

    display: grid;
    // 1.1 - Mobile Layout
    grid-auto-rows: minmax(1rem, auto);
    grid-template-columns: 1fr;
        //1.2 - Tablet Layout  
    @media screen and (min-width: $mobile_width) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $column-gap;
        grid-row-gap: 5rem;
        // 1.3 - Desktop Layout
        @media screen and (min-width: $tablet_width) {
            grid-template-columns: 2fr 1fr;
        }
    }

    // 1.4 - Button margin
    .entry-content .button-dot {
        margin-top: 2rem;
        @media screen and (min-width: $mobile_width) {
            margin-top: 5rem;
        }
    }    
}

// 2 - Variant Layout : Image + Title + texte + link
.blk-text-yellow-with-image {

    display: grid;
    @include spacing(grid-row-gap, $vertical-padding-regular);
    // 2.1 - Mobile Layout
    grid-auto-rows: minmax(1rem, auto );
    grid-template-areas: 
        "image"
        "title"
        "text";
        

    //2.2 - Tablet Layout  
    @media screen and (min-width: $mobile_width) {
        grid-column-gap: $column-gap;
        //grid-row-gap: 5rem;


        // 2.3 - Desktop Layout
        @media screen and (min-width: $tablet_width) {
            grid-template-columns: 2fr 3fr;
            grid-template-areas: 
            "image  title"
            "text   text";
            // Huge
            @media screen and (min-width: $desktop_width) {
                grid-template-columns: 4fr 1fr 8fr;
                grid-template-areas: 
                "image . title"
                "text  text text";
            }
        }
    }

    // 2.4 - Title
    h2 {
        grid-area: title;
        margin: 0;
    }

    // 2.5 - Text + link
    .entry-content {
        grid-area: text;
        width: 100%;
        display: grid;
        justify-items: left;
        align-items: start;
        grid-column-gap: $column-gap;
        @media screen and (min-width: $mobile_width) {
        grid-template-columns: 1fr 1fr;

            @media screen and (min-width: $tablet_width) {
                grid-template-columns: 2fr 3fr;
                .btn-container {
                    grid-column: 2 / 3;
                }
                // Huge
                @media screen and (min-width: $desktop_width) {
                    grid-template-columns: 4fr 1fr 8fr;
                    .btn-container {
                        grid-column: 3 / 4;
                    }
                }
            }
        }
    }



    .btn-container > * {
        display: block;
        &:nth-child(2) {
            margin-top: 1.5rem;
        }
        @media screen and (min-width: $huge_width) {
            display: inline-block;
            &:nth-child(2) {
                margin-top: 0;
                margin-left: 1.5rem;
            }
        }
    }


    // 2.6 - Image
    .image-container {
        grid-area: image;
        max-width: pixel(260);
        justify-self: center;
        text-align: center;
    }
}