/*

Style Gutenberg Block Text + Image [titreTexteImage.php]

File structure :
------------------
1 - Bloc layout

*/

// 1 - Bloc layout

.blk-text-img {

    display: grid;
    grid-template-areas:    
        "title"
        "button"
        "image";
    display: grid;
    grid-gap: $column-gap;
    justify-items: left;
                    
    @media screen and (min-width: $mobile_width) {
        //grid-column-gap: $column-gap;
        //grid-row-gap: 4rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(1rem, auto) minmax(1rem, auto);
        justify-items: left;
        align-items: start;
        /*
        grid-template-areas:    
        "title      image"
        "content    image"
        "button     image";
        */
        grid-template-areas:    
        "title      image"
        "button     image";
        
        // 2.4 - Huge Layout
        @media screen and (min-width: $desktop_width) {
            // Block Layout
            grid-template-columns: 6fr 1fr 6fr;
            grid-template-areas: 
            "title  .   image"
            "button .   image";
        }
    }

    > h2 {
        grid-area: title;
        margin: 0;
    }

    > .entry-content {
        grid-area: content;
    }

    > .image-container {
        grid-area: image;
        text-align: center;
    }

    > a {
        margin-top: 1rem;
        grid-area: button;
        @media screen and (min-width: $tablet_width) {
            margin-bottom: 0;
        }
    }  
}
.blk-text-img.has-content {
    grid-template-areas:    
        "title"
        "content"
        "button"
        "image";
                    
    @media screen and (min-width: $mobile_width) {
        grid-template-rows: min-content min-content 1fr;
        /*
        grid-template-areas:    
        "title      image"
        "content    image"
        "button     image";
        */
        grid-template-areas:    
        "title      image"
        "content    image"
        "button     image";
        
        @media screen and (min-width: $desktop_width) {
            // Block Layout
            grid-template-columns: 6fr 1fr 6fr;
            grid-template-areas: 
            "title    .  image"
            "content  .  image"
            "button   .  image";
        }
    }
}

/*
// Template Variant for odd block
#raw-content .blk-text-img:nth-of-type(odd)  {       
    @media screen and (min-width: $mobile_width) {
        grid-template-areas:    
        "image      title"
        "image      content"
        "image      button";
        @media screen and (min-width: $desktop_width) {
            grid-template-columns: 1fr 2fr;
        }
    }             
}
*/