/*

Style Gutenberg Block Text [texte.php]

File structure :
------------------
1 - Bloc layout

*/

.blk-text-fleche {
    display: grid;
    padding-top: 3rem;
    padding-bottom: 3rem;
    grid-gap: $column-gap;

    // Mobile layout
    grid-template-columns: 1fr;
    grid-template-areas: 
        "title"
        "arrow";

    // Tablet Layout
    @media screen and (min-width: $mobile_width) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "title  title"
        ".      arrow";
        
        // Desktop Layout
        @media screen and (min-width: $tablet_width) {
            padding-top: 7rem;
            padding-bottom: 7rem;
            grid-row-gap: 5rem;
            grid-template-columns: 2fr 1fr;
            grid-template-areas: 
            "title  arrow";

            // 2.4 - Huge Layout
            @media screen and (min-width: $desktop_width) {
                // Block Layout
                grid-template-columns: 9fr 1fr 3fr;
                grid-template-areas: 
                "title . arrow";
            }
            
        }
    }

    h2 {
        grid-area: title;
        margin: 0;
    }
    .entry-content {
        grid-area: text;
    }
    .giant-icon {
        grid-area: arrow;
    }
}

.blk-text-fleche.has-content {
    grid-template-areas: 
        "title"
        "text"
        "arrow";

    // Tablet Layout
    @media screen and (min-width: $mobile_width) {
        grid-template-areas: 
        "title  title"
        "text   arrow";
        
        // Desktop Layout
        @media screen and (min-width: $tablet_width) {
            grid-template-areas: 
            "title  text"
            "title  arrow";

            // 2.4 - Huge Layout
            @media screen and (min-width: $desktop_width) {
                grid-template-areas: 
                "title . text"
                "title . arrow";
            }
        }
    }
}