/*

Style Gutenberg Block Learn [accueil-se-former.php]

File structure :
------------------
1 - Bloc layout

*/

.blk-tools {
    h2 {
        margin: 0;
    }
    .button-dot {
        margin-top: 2rem;
    }
    
	.custom-wrapper {
        padding: 0 map-get($wrapper-padding, $tiny_width);
        margin-bottom: 2rem;
        @media screen and (min-width: $mobile_width) {
            padding: 0 map-get($wrapper-padding, $mobile_width);
            @media screen and (min-width: $tablet_width) {
                padding: 0 2 * (map-get($wrapper-padding, $tablet_width));
                @media screen and (min-width: $desktop_width) {
                    padding: 0 2 * (map-get($wrapper-padding, $desktop_width));
                }
            }
        }
    }

    .responsive-text-container {
        @media screen and (min-width: $desktop_width) {
            // Block Layout
            grid-template-columns: 4fr 1fr 8fr;

            *:nth-child(2) {
                grid-column: 3 / 4;
            }
        }
    }
}