/*

Style Gutenberg Block Video [video.php]

File structure :
------------------
1 - Bloc layout

*/

// 5.1 : Video Button
.btn-modale {
  display: block;
  line-height: 0;
  text-align: left;
  position: relative;
  transition: all 0.2s;

  // 5.1 : Video thumbnail size
  img,
  picture,
  figure {
    line-height: 1;
    width: 100%;
    max-width: pixel(800);
    height: auto;
    opacity: 1;
    transition: opacity 0.2s;
  }

  // 5.2 : Video icon
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    //** à customiser !
    @media screen and (min-width: pixel(880)) {
      top: 50%;
      left: 50%;
    }
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    border: 2px solid white;
    background: url(./image/player.svg) center center no-repeat;
    background-color: transparent;
    opacity: 1;
    transition: all 0.2s;
  }

  &:hover,
  &:focus,
  &:active {
    // Icon changes
    &::after {
      background-color: $brand-blue;
      border-color: $brand-blue;
    }
    // Thumbnail changes
    img,
    picture,
    figure {
      filter: saturate(0);
    }
  }
}

// Player icone position
#post-content .btn-modale::after {
  //** à customiser !
  top: 50%;
  left: 50%;
  @media screen and (min-width: pixel(1200)) {
    top: 50%;
    left: pixel(400);
  }
}
