/*

Style Archive Tools 

File structure :
------------------
1 - Image Thumbnail
------------------
2 - Article style
    2.1 Article Animation
    2.2 - Article tools
    2.3 - Article Learn
    2.4 - Article post

*/

.article {

    box-sizing: border-box;
    padding: 0.25rem;
    padding: map-get($wrapper-padding, $tiny_width);
    @media screen and (min-width: $tablet_width) {
        padding: map-get($wrapper-padding, $tablet_width);
        @media screen and (min-width: $desktop_width) {
            padding: 2rem;
            
        }
    }

    transition: background-color .2s;
    padding-bottom: 2rem;
    //cursor: pointer;

    // Article Animation ( forInfinite scroll)
    opacity: 0;
    -webkit-animation: .4s fadein 1 forwards;
    animation: .4s fadein 1 forwards;

    // N°1 : Default
    &:hover,
    &:focus,
    &:focus-within {
        background-color: $brand-orange;
        .link-discrete:hover,
        .link-discrete:focus {
            color: $white;
            opacity: 0.75;
        }
        .button:hover,
        .button:focus {
            color: $brand-black;
        }
    }

    //n°2 + Pairs
    &:nth-child(2n+2) {
        animation-delay: .2s;
        &:hover,
        &:focus,
        &:focus-within {
            background-color: $brand-blue;
        }
    }
    // N°3 + multiple de 3
    &:nth-child(3n+3) {
        animation-delay: .4s;
        &:hover,
        &:focus,
        &:focus-within {
            background-color: $brand-green;
        }
       
    }

    // N°4 + multiple de 4
    &:nth-child(4n+4) {
        &:hover,
        &:focus,
        &:focus-within {
            background-color: $brand-pink;
        }
    }

    // N°5 + multiple de 5
    &:nth-child(5n+5) {
        &:hover,
        &:focus,
        &:focus-within {
            background-color: $brand-yellow;
        }
    }

    // N°6 + multiple de 6
    &:nth-child(6n+6) {
        &:hover,
        &:focus,
        &:focus-within {
            background-color: $brand-violet;
        }
    }


    // Article layout
    > * {
        display: block;
    }

    // Image Thumbnail
    .thumbnail {
        overflow: hidden;
        background-color: $brand-black;
        line-height: 0;
        margin-bottom: 2.5rem;
        * {
            opacity: 1;
            transition: filter .2s;
        }

        &:hover,
        &:focus,
        &:active {
            * {
                filter: saturate(0);
            }
        }
    }

    > * {
        margin-bottom: 1em;
        &:last-child {
            margin-bottom: 0;
        }
    }

}

// Animation (Infinite scroll)
@-webkit-keyframes fadein { 
    from { opacity: 0; } 
    to { opacity: 1; }  
}
    
@keyframes fadein { 
    from { opacity: 0; } 
    to { opacity: 1; }  
}

.list {
    > * {
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
        &:last-child {
            margin-right: 0;
        }
    }
}

.article-info-list {
    > * {
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 1rem;
        &:last-child {
            margin-right: 0;
        }
    }
}

.term-listing .list {
    > * {
        text-align: left;
        display: inline-block;
        margin-bottom: 1em;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.article-type {
    position: relative;
    margin: 2rem 0 1.5em;
    &::after {
        position: absolute;
        left: 0;
        bottom: -1.5em;
        content:"········";
    }
}