/*

Style Archive Learn 

File structure :
------------------
A - Listing Archive 
------------------
B - Lsiting universal
------------------
C - Terms Listing (category)
------------------
D - Terms select (keywords)
------------------
E - Basic Listing (bloc members)


*/

// A - Listing Archive ( 2 posts / line ) 
.listing-archive {

    display: grid;
    justify-items: center;
    grid-gap: $column-gap;
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
    @media screen and (min-width: $mobile_width) {
        grid-template-columns: repeat( 2, 1fr);
        @media screen and (min-width: $tablet_width) {
            grid-template-columns: repeat( 3, 1fr);
            padding-left: map-get($wrapper-padding, $tablet_width);
            padding-right: map-get($wrapper-padding, $tablet_width);
            @media screen and (min-width: $desktop_width) {
                padding-left: map-get($wrapper-padding, $desktop_width);
                padding-right: map-get($wrapper-padding, $desktop_width);   
            }
        }
    }

    > .article {
        width: 100%;
    }
    
}

// B - Listing Universal ( 1 post / line )
.listing-universal {

    width: 100%;
    display: grid;
    justify-items: left;
    grid-gap: $column-gap;
    grid-template-columns: 1fr;
    margin-left: 0;
    grid-column-gap: $column-gap;

    .article {
        display: grid;
        grid-template-columns: pixel(400) auto;
        grid-auto-rows:repeat( auto-fit, minmax(1px, 1fr) );
        grid-column-gap: $column-gap;
        justify-items: start;
        align-items: start;
        margin-bottom: $column-gap;

        .thumbnail {
            grid-column: 1;
            grid-row: 1 / 8;
            margin-bottom: 0;
        }

        > * {
            grid-column: 2;
        }

        .article-type {
            margin-top: 0;
        }
    }

}

//C - Terms Listing (category)
.term-listing {
    text-align: left;
    //margin-top: -1rem;

    > * {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 1rem;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &.margin-b {
        margin-bottom: 2rem;
    }
}

// D - Terms select (keywords)
#select-archive {
    height: 2rem;
    width: 100%;
    background: transparent;
    color: $white;
    border: none;
    outline: none;
    padding-bottom: 1px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;

    option {
        color: $brand-black;
    }
}
#select-archive-wrapper {
    @include font(regular, text);
    font-family : $font-title;
    margin-bottom: 2rem;
    min-width: 16rem;
    height: 2rem;
    position: relative;
    padding: 0 1rem;
    border: 1px solid white;
    border-radius: 2rem;
    // Arrow icon
    &::after {
        position: absolute;
        content: '↓';
        right: 1rem;
        top: 0.25em;
    }

}

/* E - Basic Listing (bloc members)
.basic-listing > *{
    display: inline-block;
    margin-right: $column-gap;
    margin-bottom: 2rem;
    &:last-of-type {
        margin-right: 0;
    }
}
*/

.basic-listing-member,
.basic-listing-partner {
    width: 100%;
    display: grid;
    grid-gap: $column-gap;
    justify-content: start;
    align-content: start;
}

.basic-listing-partner {
    grid-template-columns: repeat(auto-fill, pixel(120));
}

.basic-listing-member {
    grid-template-columns: repeat(auto-fill, pixel(200));
}